<!-- <div class="bg-blue-100 page-header">
    <h1 class="fs-20 fw-400">Settings</h1>
</div> -->

<img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px">
<div class="card w-100-p bg-white" style="border: none;">
    
    <ngb-accordion [closeOthers]="true" class="acc-card" style="border: none;">
        <!-- Password Settings Panel -->
        <ngb-panel id="password-panel">
            <ng-template ngbPanelHeader let-opened="opened" class="mb-8">
                <button ngbPanelToggle class="w-100-p btn" style="color: #e60000;">
                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="space-between center">
                        <span> Password Setting </span>
                        <span><i [ngClass]="opened ? 'ri-subtract-line' : 'ri-add-line'"></i></span>
                    </div>
                </button>
            </ng-template>

            <ng-template ngbPanelContent>
                <div fxLayout="row wrap">
                    <form fxFlex="100" [formGroup]="passwordForm" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start start">
                        <div fxFlex="30" class="form-group">
                            <label for="">Minimum password length</label><span class="text-danger">*</span>
                            <input type="number" min="4" required [readonly]="readonly" formControlName="minimum_password_length" class="form-control">
                            <ng-container *ngIf="passwordForm.controls.minimum_password_length.dirty">
                                <span class="text-danger text-left" *ngIf="passwordForm.controls.minimum_password_length.hasError('required')">
                                    Please provide password length
                                </span>
                                <span class="text-danger text-left" *ngIf="passwordForm.controls.minimum_password_length.hasError('min')">
                                    Minimum password length must be 4
                                </span>
                                <span class="text-danger text-left" *ngIf="passwordForm.controls.minimum_password_length.hasError('max')">
                                    Maximum password length must be of 100
                                </span>
                            </ng-container>
                        </div>

                        <div fxFlex="30" class="form-group">
                            <label for="">Maximum password differences</label><span class="text-danger">*</span>
                            <input type="number" min="3" maxlength="5" required [readonly]="readonly" formControlName="previous_password_check" class="form-control">
                            <ng-container *ngIf="passwordForm.controls.previous_password_check.dirty">
                                <span class="text-danger text-left" *ngIf="passwordForm.controls.previous_password_check.hasError('required')">
                                    Please provide password differences
                                </span>
                                <span class="text-danger text-left" *ngIf="passwordForm.controls.previous_password_check.hasError('min')">
                                    Minimum password differences must be 3
                                </span>
                                <span class="text-danger text-left" *ngIf="passwordForm.controls.previous_password_check.hasError('max')">
                                    Maximum password differences  must be of 100
                                </span>
                            </ng-container>
                        </div>

                        <!-- <div fxFlex="30" class="form-group">
                            <label for="">Must contain atleast one Alphabetic character</label><span class="text-danger">*</span>
                            <ng-select [clearable]="false" formControlName="is_alphabetic" class="select group-container">
                                
                                <ng-option value="true">Yes</ng-option>
                                <ng-option value="false">No</ng-option>
                            </ng-select>
                            <span class="text-danger text-left"
                                *ngIf="passwordForm.controls.is_alphabetic.touched && passwordForm.controls.is_alphabetic.hasError('required')">
                                Please provide password length
                            </span>
                        </div> -->

                        <div fxFlex="30" class="form-group">
                            <label for="">Must contain atleast one Numeric character</label><span class="text-danger">*</span>
                            <input *ngIf="readonly" type="text" formControlName="is_numeric" class="form-control" readonly>
                            <ng-select *ngIf="!readonly" [clearable]="false" formControlName="is_numeric" class="select group-container">
                                <ng-option value="Yes">Yes</ng-option>
                                <ng-option value="No">No</ng-option>
                            </ng-select>
                            <!-- <span class="text-danger text-left"
                                *ngIf="passwordForm.controls.is_numeric.touched && passwordForm.controls.is_numeric.hasError('required')">
                                Please provide password length
                            </span> -->
                        </div>

                        <div fxFlex="30" class="form-group">
                            <label for="">Must contain atleast one Special character</label><span class="text-danger">*</span>
                            <input *ngIf="readonly" type="text" formControlName="is_punctuation" class="form-control" readonly>
                            <ng-select *ngIf="!readonly" [clearable]="false" formControlName="is_punctuation" class="select group-container">
                                <ng-option value="Yes">Yes</ng-option>
                                <ng-option value="No">No</ng-option>
                            </ng-select>
                            <!-- <span class="text-danger text-left"
                                *ngIf="passwordForm.controls.is_punctuation.touched && passwordForm.controls.is_punctuation.hasError('required')">
                                Please provide password length
                            </span> -->
                        </div>

                        <div fxFlex="30" class="form-group">
                            <label for="">Must contain atleast one Upper Case character</label><span class="text-danger">*</span>
                            <input *ngIf="readonly" type="text" formControlName="is_upper" class="form-control" readonly>
                            <ng-select *ngIf="!readonly" [clearable]="false" formControlName="is_upper" class="select group-container">
                                <ng-option value="Yes">Yes</ng-option>
                                <ng-option value="No">No</ng-option>
                            </ng-select>
                            <!-- <span class="text-danger text-left"
                                *ngIf="passwordForm.controls.is_upper.touched && passwordForm.controls.is_upper.hasError('required')">
                                Please provide password length
                            </span> -->
                        </div>

                        <div fxFlex="30" class="form-group">
                            <label for="">Must contain atleast one Lower Case character</label><span class="text-danger">*</span>
                            <input *ngIf="readonly" type="text" formControlName="is_lower" class="form-control" readonly>
                            <ng-select *ngIf="!readonly" [clearable]="false" formControlName="is_lower" class="select group-container">
                                <ng-option value="Yes">Yes</ng-option>
                                <ng-option value="No">No</ng-option>
                            </ng-select>
                            <!-- <span class="text-danger text-left"
                                *ngIf="passwordForm.controls.is_lower.touched && passwordForm.controls.is_lower.hasError('required')">
                                Please provide password length
                            </span> -->
                        </div>
                    </form>

                    <div *ngIf="!readonly" fxFlex="100" class="form-group text-center mb-0">
                        <button class="btn btn-success btn-round mr-8" (click)="onSubmitPasswordSetting(passwordForm.value)" [disabled]="!passwordForm.valid">
                            <i class="ri-check-fill"></i>
                            Save
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <!-- Pagination Settings Panel -->
        <ngb-panel>
            <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="w-100-p btn" style="color: #e60000;">
                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="space-between center">
                        <span> Pagination Setting </span>
                        <span><i [ngClass]="opened ? 'ri-subtract-line' : 'ri-add-line'"></i></span>
                    </div>
                </button>
            </ng-template>

            <ng-template ngbPanelContent>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <form fxFlex="25" [formGroup]="paginationSettingForm">
                        <div class="form-group">
                            <label for="">Items per page</label><span class="text-danger">*</span>
                            <input type="number" min="5" [readonly]="readonly" formControlName="item_per_page" class="form-control" required>
                            <ng-container *ngIf="paginationSettingForm.controls.item_per_page.dirty">
                                <span class="text-danger text-left" *ngIf="paginationSettingForm.controls.item_per_page.hasError('required')">
                                    Please provide count of items
                                </span>
                                <span class="text-danger text-left" *ngIf="paginationSettingForm.controls.item_per_page.hasError('min')">
                                    Items per page should not be less than 5
                                </span>
                                <span class="text-danger text-left" *ngIf="paginationSettingForm.controls.item_per_page.hasError('max')">
                                    Items per page should not exceed than 1000
                                </span>
                            </ng-container>
                        </div>
                    </form>

                    <div class="form-group text-center mb-0">
                        <button *ngIf="!readonly" class="btn btn-success btn-round mr-8" (click)="onSubmitPaginationSettings(paginationSettingForm.value)" [disabled]="!paginationSettingForm.valid">
                            <i class="ri-check-fill"></i>
                            Save
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <!-- Login Settings Panel -->
        <ngb-panel>
            <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle class="w-100-p btn" style="color: #e60000;">
                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="space-between center">
                        <span> Login Setting </span>
                        <span><i [ngClass]="opened ? 'ri-subtract-line' : 'ri-add-line'"></i></span>
                    </div>
                </button>
            </ng-template>

            <ng-template ngbPanelContent>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <form fxFlex="25" [formGroup]="loginSettingForm">
                        <div class="form-group">
                            <label for="">Session time out</label><span class="text-danger">*</span>
                            <div class="input-group">
                                <input type="number" min="60" [readonly]="readonly" formControlName="session_time" class="form-control" required>
                                <span class="input-group-text">sec.</span>
                            </div>
                            <ng-container *ngIf="loginSettingForm.controls.session_time.dirty">
                                <span class="text-danger text-left" *ngIf="loginSettingForm.controls.session_time.hasError('required')">
                                    Please provide session timeout
                                </span>
                                <span class="text-danger text-left" *ngIf="loginSettingForm.controls.session_time.hasError('min')">
                                    Session timeout should not be less than 60 sec
                                </span>
                                <span class="text-danger text-left" *ngIf="loginSettingForm.controls.session_time.hasError('max')">
                                    Session time out should not exceed than 3600 sec.
                                </span>
                            </ng-container>
                        </div>
                    </form>

                    <div class="form-group text-center mb-0">
                        <button *ngIf="!readonly" class="btn btn-success btn-round mr-8" (click)="onSubmitLoginSessionSettings(loginSettingForm.value)" [disabled]="!loginSettingForm.valid">
                            <i class="ri-check-fill"></i>
                            Save
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>