<div class="w-100-p h-100-p p-0" fxLayout="row wrap" style="position: relative;">
    <div class="w-100-p modal-header pt-8 pb-8">
        <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
        <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
    </div>

    <img *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px"
        style="position: absolute; top: 30%; left: 42%;">

    <div class="modal-body" fxFlex="100" fxLayout="row wrap" style="height: calc(100% - 44px);">
        <form [formGroup]="adminForm" fxFlex="100" fxLayout="row wrap" fxLayoutGap="12px">
            <div fxFlex="48.5" class="form-group">
                <label for="fn">First Name</label><span class="text-danger">*</span>
                <input type="text" id="fn" formControlName="first_name" [readonly]="readonly" class="form-control">
                <ng-container *ngIf="adminForm.controls.first_name.dirty">
                    <span class="text-danger" *ngIf="adminForm.controls.first_name.hasError('required')">
                        Please provide first name
                    </span>
                    <span class="text-danger" *ngIf="adminForm.controls.first_name.hasError('maxlength')">
                        First name must be of less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="adminForm.controls.first_name.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="48.5" class="form-group mr-0">
                <label for="fn">Last Name</label><span class="text-danger">*</span>
                <input type="text" id="fn" formControlName="last_name" [readonly]="readonly" class="form-control">
                <ng-container *ngIf="adminForm.controls.last_name.dirty">
                    <span class="text-danger" *ngIf="adminForm.controls.last_name.hasError('required')">
                        Please provide last name
                    </span>
                    <span class="text-danger" *ngIf="adminForm.controls.last_name.hasError('maxlength')">
                        Last name must be of less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="adminForm.controls.last_name.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="48.5" class="form-group">
                <label for="fn">Phone Number</label><span class="text-danger">*</span>
                <div class="input-group">
                    <span class="input-group-text" for="ph" style="border-right: none;">+974</span>
                    <input type="text" autocomplete="off" id="ph" maxlength="8" class="form-control"
                        [readonly]="readonly" formControlName="phone_number" placeholder="Phone Number"
                        (focusout)="validateEmailorPassword('', adminForm.controls.phone_number.value)">
                </div>
                <ng-container *ngIf="adminForm.controls.phone_number.dirty">
                    <div class="text-danger" *ngIf="adminForm.controls.phone_number.hasError('required')">
                        Please provide phone number
                    </div>
                    <div class="text-danger" *ngIf="adminForm.controls.phone_number.hasError('minlength')">
                        Phone no must be of 8 digits
                    </div>
                    <div class="text-danger" *ngIf="adminForm.controls.phone_number.hasError('phoneonly')">
                        Phone no must be numeric
                    </div>
                    <div class="text-danger" *ngIf="adminForm.controls.phone_number.hasError('phoneexist')">
                        Phone no already exist
                    </div>
                </ng-container>
            </div>

            <div fxFlex="48.5" class="form-group mr-0">
                <label for="fn">Email</label><span class="text-danger">*</span>
                <input type="text" id="fn" formControlName="email" [readonly]="readonly || data?.id"
                    class="form-control" (focusout)="validateEmailorPassword(adminForm.controls.email.value, '')">
                <ng-container *ngIf="adminForm.controls.email.invalid && adminForm.controls.email.dirty">
                    <span class="text-danger" *ngIf="adminForm.controls.email.hasError('required')">
                        Please provide email
                    </span>
                    <span class="text-danger" *ngIf="adminForm.controls.email.getError('pattern')">
                        Please provide valid email
                    </span>
                    <div class="text-danger" *ngIf="adminForm.controls.email.getError('emailexist')">
                        Email already exist
                    </div>
                </ng-container>
            </div>

            <div fxFlex="48.5" class="form-group">
                <label for="fn">Department</label>
                <input type="text" id="fn" formControlName="department" [readonly]="readonly" class="form-control">
                <span class="text-danger"
                    *ngIf="adminForm.controls.department.hasError('required') && adminForm.controls.department.dirty">
                    Please provide department
                </span>
            </div>

            <div fxFlex="48.5" class="form-group">
                <label for="fn">Designation</label>
                <input type="text" id="fn" formControlName="designation" [readonly]="readonly" class="form-control">
                <span class="text-danger"
                    *ngIf="adminForm.controls.designation.hasError('required') && adminForm.controls.designation.dirty">
                    Please provide designation
                </span>
            </div>
        </form>

        <hr fxFlex="100" class="mt-0">

        <div fxFlex="100" class="form-group text-center mb-0">
            <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8"
                [disabled]="loading || !adminForm.valid">
                <i class="ri-check-fill"></i>
                <span>{{data?.id ? 'Update': 'Save'}}</span>
            </button>
            <button class="btn btn-default btn-round" (click)="onCloseModal()">
                <i class="ri-close-line"></i>
                <span>{{readonly ? 'Close' : 'Discard'}}</span>
            </button>
        </div>
    </div>
</div>