<div *ngIf="makeChart" class="card panel round round w-100-p mb-0">
    <div class="panel-heading h-36">
        <div class="fs-14 fw-600 p-10">{{title}}</div>
    </div>

    <div class="panel-body" style="border-top: 1px solid rgba(0, 0, 0, 0.075);">
        <div id="pie-chart-div" class="h-300 fs-12"></div>
    </div>
</div>

<div *ngIf="make3DChart" class="card panel round round w-100-p mb-0">
    <div class="panel-heading h-36">
        <div class="fs-14 fw-600 p-10">{{title}}</div>
    </div>

    <div class="panel-body" style="border-top: 1px solid rgba(0, 0, 0, 0.075);">
        <div id="3d-chart-div" class="h-300 fs-12"></div>
    </div>
</div>