<div class="w-100-p h-100-p p-0" fxLayout="row wrap" style="position: relative;">
    <div class="w-100-p modal-header pt-8 pb-8">
        <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
        <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
    </div>

    <img *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px"
        style="position: absolute; top: 30%; left: 42%; z-index: 2;">

    <div class="modal-body" fxFlex="100" fxLayout="row wrap" style="height: calc(100% - 44px);">
        <div [formGroup]="deviceAllocationForm" fxFlex="100" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start start" class="h-92">
            <div fxFlex="45">
                <label for="">Device Type</label><span class="text-danger">*</span>
                <ng-select placeholder="Select device type" [clearable]="false" formControlName="device_type" (change)="onSelectDeviceType($event)" [appendTo]="'body'">
                    <ng-option *ngFor="let device of deviceTypes" [value]="device.device_type_id">{{device.device_type}}</ng-option>
                </ng-select>
                <span class="text-danger" *ngIf="deviceAllocationForm.controls.device_type.hasError('required') && deviceAllocationForm.controls.device_type.touched">
                    Please select a device type
                </span>
            </div>

            <div fxFlex="45">
                <label for="">Device ID</label><span class="text-danger">*</span>
                <ng-select placeholder="Select device id" [multiple]="true" [clearable]="false" formControlName="device_id"
                    [readonly]="!deviceAllocationForm.controls.device_type.value" [appendTo]="'body'" (change)="onSelectDeviceID($event)">
                    <ng-option *ngFor="let device of devices" [value]="device.device_id">{{device.device_id}}</ng-option>
                </ng-select>
                <span class="text-danger" *ngIf="deviceAllocationForm.controls.device_id.hasError('required') && deviceAllocationForm.controls.device_id.touched">
                    Please select atleast one device ID
                </span>
            </div>

            <div fxFlex>
                <button class="btn btn-primary h-36 lh-16 mt-28" [disabled]="!deviceAllocationForm.valid" (click)="onAddDevice()">
                    <i class="ri-add-line"></i>
                    <span>Add</span>
                </button>
            </div>
        </div>

        <table *ngIf="selectedDevices.length > 0" class="table">
            <thead>
                <tr>
                    <td>Sr #</td>
                    <td>Device Type</td>
                    <td>Selected Devices</td>
                    <td>Device ID</td>
                    <td>Actions</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let device of selectedDevices; let idx=index">
                    <td>{{idx + 1}}</td>
                    <td>{{device.device_type_name}}</td>
                    <td>{{device.device_id?.length}}</td>
                    <td width="300">
                        <ng-select placeholder="Select device type" [multiple]="true" [(ngModel)]="device.device_id" [appendTo]="'body'">
                            <ng-option *ngFor="let device of device.device_id" [value]="device">{{device}}</ng-option>
                        </ng-select>
                        <!-- <ng-container *ngFor="let id of device.device_id">
                            <span class="make-oval">{{id}}</span>
                        </ng-container>     -->
                    </td>
                    <td>
                        <a class="btn btn-icon btn-sm btn-primary mr-8" ngbTooltip="Edit" (click)="onEditDevice(device, idx)" style="padding: 3px;">
                            <i class="ri-pencil-line"></i>
                        </a>
                        <a class="btn btn-icon btn-sm btn-danger" ngbTooltip="Delete" (click)="onDeleteDevice(idx)" style="padding: 3px;">
                            <i class="ri-subtract-line"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <hr fxFlex="100" class="mt-0">

        <div fxFlex="100" class="form-group text-center mb-0">
            <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8"
                [disabled]="loading || selectedDevices.length === 0">
                <i class="ri-check-fill"></i>
                Save
            </button>
            <button class="btn btn-default btn-round" (click)="onCloseModal()">
                <i class="ri-close-line"></i>
                Discard
            </button>
        </div>
    </div>
</div>