<div class="w-100-p p-0" fxLayout="row wrap" style="position: relative;">
    <div fxFlex="100" fxLayout="row wrap">

        <div fxLayout="row wrap" fxFlex="100">
            <!-- hardware accordion -->
            <ngb-accordion class="w-100-p hardware-accord" [closeOthers]="true">
                <ng-container *ngFor="let usecase of customerUsecases; let idx=index">
                    <ng-container *ngIf="usecase.is_selected">
                        <ngb-panel id="acc-{{idx}}" class="">
                            <ng-template ngbPanelHeader let-opened="opened" class="mb-8"
                                style="border-radius: 0; border: none;">
                                <!-- open individual usecase accordion  -->
                                <button ngbPanelToggle class="w-100-p btn p-0 pl-2 pr-2 bg-blue-100 fw-600 fs-12"
                                    style="border-radius: 0;"
                                    (click)="getAllocatedHardware(usecase.usecase, usecase.usecase_name, opened)">
                                    <div class="w-100-p" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div fxLayoutGap="8px" fxLayoutAlign="start center">
                                            <span> {{usecase.usecase_name | uppercase}} </span>
                                        </div>
                                        <span><i [ngClass]="opened ? 'ri-subtract-line' : 'ri-add-line'"></i></span>
                                    </div>
                                </button>
                            </ng-template>

                            <ng-template ngbPanelContent class="p-body">
                                <div fxLayout="row wrap" fxFlex="100">
                                    <div *ngIf="!readonly" fxFlex="100" fxLayout="row" fxLayoutAlign="end start"
                                        class="mb-8">
                                        <button class="btn btn-success btn-round h-36 lh-16"
                                            (click)="onAllocateDevice(usecase)">
                                            <i class="ri-add-line"></i>
                                            <span>Allocate Device</span>
                                        </button>
                                    </div>

                                    <div class="w-100-p">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>Device Type</td>
                                                    <td>Device ID</td>
                                                    <td>Status</td>
                                                    <td>Configured Frequency</td>
                                                    <td>MSISDN</td>
                                                    <!-- <td>Last Timestamp</td>
                                                    <td>Last Location</td> -->
                                                    <td *ngIf="!readonly" style="width: 10%;">Action</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="fleetDevices.length > 0">
                                                    <tr *ngFor="let device of fleetDevices; let even=even"
                                                        [class.even]="even">
                                                        <td>{{device.device_type_name}}</td>
                                                        <td><a class="text-overflow"
                                                                (click)="onDeviceDiagnostic(device, usecase)">
                                                                {{device.device_id}} </a></td>
                                                        <td>{{device.status}}</td>
                                                        <td>{{device.frequency}}</td>
                                                        <td>{{device?.sim_msisdn}}</td>
                                                        <!-- <td>{{device.last_timestamp | date: 'mm/dd/yyyy, hh:mm'}}</td>
                                                        <td>{{device.last_location}}</td> -->
                                                        <td *ngIf="!readonly">
                                                            <a class="btn btn-icon btn-info mr-8"
                                                                ngbTooltip="Edit Device Frequency" style="padding: 3px;"
                                                                (click)="onEditFrequency(device)">
                                                                <i class="ri-pencil-line"></i>
                                                            </a>
                                                            <a class="btn btn-icon btn-info"
                                                                ngbTooltip="Deallocate Device" style="padding: 3px;"
                                                                (click)="onDeallocateDevice(device)">
                                                                <i class="ri-device-line"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-container *ngIf="!loading && fleetDevices?.length === 0">
                                                    <tr colspan="4" style="display: flex; border: none !important;">
                                                        No record found
                                                    </tr>
                                                </ng-container>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- <h4 class="fs-12 fw-600 text-uppercase bg-blue-100" style="padding: 4px;">Customer Information</h4> -->
                                <!-- <app-customer-detail [customerId]="customerId" [data]="data" [readonly]="readonly" (signals)="onCustomerDetails($event)"></app-customer-detail> -->
                            </ng-template>
                        </ngb-panel>
                    </ng-container>
                </ng-container>
            </ngb-accordion>
        </div>

        <!-- <h4 class="w-100-p fs-12 fw-600 text-uppercase bg-blue-100" style="padding: 4px;">{{usecase.usecase_name}}</h4> -->

    </div>
</div>