<div class="modal-header pt-8 pb-8">
    <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
    <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
</div>

<img *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px" style="position: absolute; top: 30%; left: 40%; z-index: 1;">

<div class="modal-body w-100-p" fxLayout="row wrap" style="position: relative;">
    <form [formGroup]="consumerForm" (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap" fxLayoutGap="8px">
        <div fxFlex="32.5" class="form-group">
            <label for="fn">First Name</label><span class="text-danger">*</span>
            <input type="text" formControlName="first_name" required [readonly]="readonly" class="form-control" placeholder="Enter first name">
            <ng-container *ngIf="consumerForm.controls.first_name.dirty">
                <span class="text-danger" *ngIf="consumerForm.controls.first_name.hasError('required')">
                    Please provide first name
                </span>
                <span class="text-danger" *ngIf="consumerForm.controls.first_name.hasError('maxlength')">
                    First name must be of less than 60 characters
                </span>
                <span class="text-danger" *ngIf="consumerForm.controls.first_name.hasError('whitespace')">
                    Avoid white space
                </span>
            </ng-container>
        </div>

        <div fxFlex="32.5" class="form-group">
            <label for="fn">Last Name</label><span class="text-danger">*</span>
            <input type="text" formControlName="last_name" required [readonly]="readonly" class="form-control" placeholder="Enter last name">
            <ng-container *ngIf="consumerForm.controls.last_name.dirty">
                <span class="text-danger" *ngIf="consumerForm.controls.last_name.hasError('required')">
                    Please provide last name
                </span>
                <span class="text-danger" *ngIf="consumerForm.controls.last_name.hasError('maxlength')">
                    Last name must be of 60 characters
                </span>
                <span class="text-danger" *ngIf="consumerForm.controls.last_name.hasError('whitespace')">
                    Avoid white spaces
                </span>
            </ng-container>
        </div>

        <div fxFlex="32.5" class="form-group mr-0">
            <label for="fn">Email</label><span class="text-danger">*</span>
            <input type="text" formControlName="email" required [readonly]="readonly || data?.id" class="form-control" placeholder="Enter your email">
            <ng-container *ngIf="consumerForm.controls.email.invalid && consumerForm.controls.email.dirty">
                <span class="text-danger" *ngIf="consumerForm.controls.email.hasError('required')">
                    Please provide email
                </span>
                <span class="text-danger" *ngIf="consumerForm.controls.email.getError('pattern')">
                    Please provide valid email
                </span>
            </ng-container>
        </div>

        <div fxFlex="32.5" class="form-group">
            <label for="fn">Q-ID / Passport</label>
            <input type="text" formControlName="qid_passport" class="form-control" [readonly]="readonly" placeholder="Enter Q-ID or Passport">
            <span class="text-danger" *ngIf="consumerForm.controls.qid_passport.hasError('required') && consumerForm.controls.qid_passport.dirty">
                Please provide passport / Q-ID
            </span>
        </div>

        <div fxFlex="32.5" class="form-group">
            <label>Phone Number<span class="text-danger">*</span></label>
            <div class="input-group">
                <span class="input-group-text" for="ph" style="border-right: none;">+974</span>
                <input type="text" autocomplete="off" id="ph" maxlength="8" class="form-control" [readonly]="readonly" formControlName="phone" placeholder="Phone Number">
            </div>
            <ng-container *ngIf="consumerForm.controls.phone.dirty">
                <div class="text-danger" *ngIf="consumerForm.controls.phone.hasError('required')">
                    Please provide phone number
                </div>
                <div class="text-danger" *ngIf="consumerForm.controls.phone.hasError('minlength')">
                    Phone no must be of 8 digits
                </div>
                <div class="text-danger" *ngIf="consumerForm.controls.phone.hasError('phoneonly')">
                    Phone no must be numeric
                </div>
            </ng-container>
        </div>

        <div fxFlex="32.5" class="form-group mr-0">
            <label>Document Name</label>
            <input type="text" formControlName="document_name" class="form-control" [readonly]="readonly" placeholder="Enter document name">
            <span class="text-danger" *ngIf="consumerForm.controls.document_name.hasError('required') && consumerForm.controls.document_name.touched">
                Please provide document name
            </span>
        </div>
        
        <div *ngIf="!readonly" fxFlex="32.5" class="form-group">
            <label>Upload File</label><span class="text-danger"> (Max 5MB/.jpg.png.pdf)</span>
            <input id="fileInput" #file type="file" class="form-control-file btn btn-default h-36 lh-16" (change)="onImageChanged($event)">
            <span class="text-danger" *ngIf="consumerForm.controls.document_file.hasError('required') && consumerForm.controls.document_file.touched">
                Please upload document.
            </span>
        </div>

        <!-- <div *ngIf="data" fxFlex="32.5" class="form-group">
            <label>Status</label><span class="text-danger">*</span>
            <ng-select formControlName="status" [clearable]="false" required [readonly]="readonly" placeholder="Select a status">
                <ng-option value="Active">Active</ng-option>
                <ng-option value="InActive">InActive</ng-option>
            </ng-select>
            <span class="text-danger" *ngIf="consumerForm.controls.status.hasError('required') && consumerForm.controls.status.touched">
                Please provide document name
            </span>
        </div> -->

        <div *ngIf="readonly" fxFlex="32.5" fxLayoutAlign="start center">
            <a class="btn btn-default btn-link mt-14 h-36" (click)="onViewDoc()" style="border-radius: 0;">View Document</a>
        </div>
    </form>

    <hr fxFlex="100">
    <div fxFlex="100" class="form-group text-center mb-0">
        <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8" [disabled]="!consumerForm.valid || loading">
            <i class="ri-check-fill"></i>
            <span>{{data?.id ? 'Update' : 'Save'}}</span>
        </button>
        <button class="btn btn-default btn-round" (click)="onCloseModal()">
            <i class="ri-close-line"></i>
            <span>{{readonly ? 'Close' : 'Discard'}}</span>
        </button>
    </div>
</div>