<div class="card w-100-p bg-white" style="border: none; height: 100%;">
    <img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px"
        height="150px">
    <h3 class="fs-14 fw-600 p-16 pt-10 pb-10 mb-0" style="border-bottom: 1px solid #ececec;">Sensor Configuration
        <i class="ri-information-line info grey-400" ngbTooltip="ID, Name, Actions" triggers="mouseenter:mouseleave"
            container="body" placement="top"></i>
    </h3>

    <div class="w-100-p p-16" style="height: calc(100% - 40px);">
        <general-table [config]="config" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
    </div>
</div>