.input-group-text {
    height: 36px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.loader {
    position: absolute;
    top: 40%;
    left: 44%;
    z-index: 1;
}

.dialog-loader {
    position: absolute;
    top: 25%;
    left: 38%;
    z-index: 1;
}