<div *ngIf="!fromProfile" fxLayout="row wrap" class="h-100-p"
    style="background-image: url(assets/images/vodafone-background.jpg); background-size: cover;">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="height: calc(100% - 28px); position: relative;">
        <img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px">

        <div class="w-300 h-444 pr-8 pl-8" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <img src="assets/images/vf-bz-logo.png" class="w-200 h-66" alt="Logo">

            <div class="w-100-p p-20 card text-center" style="height: calc(100% - 74px); position: relative;">
                <!-- <ngb-progressbar *ngIf="loading" class="h-4 w-100-p" [striped]="true" [animated]="true" [value]="75" type="danger" mode="indeterminate" style="position: absolute; top: -1px; left: 0;"></ngb-progressbar> -->
                <i class="fs-40 icofont-lock h-62"></i>
                <h4 class="fs-18 fw-600 mb-30 green-800">RESET PASSWORD</h4>

                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" style="text-align: left;">
                    <div *ngIf="requestType !== 'reset' " class="form-group h-58 mb-0">
                        <label class="sr-only">Current Password</label>
                        <div class="input-group">
                            <input class="form-control" formControlName="old_password" placeholder="Current Password" id="old-pw" [type]="hidePassword ? 'password' : 'text' ">
                            <span class="input-group-text" for="old-pw" (click)="hidePassword = !hidePassword;">
                                <i [ngClass]="hidePassword ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                            </span>
                        </div>
                        <span class="text-danger" *ngIf="resetPasswordForm.controls.old_password.hasError('required') && resetPasswordForm.controls.old_password.touched">
                            Please provide current password
                        </span>
                    </div>

                    <div class="form-group h-58 mb-0">
                        <label class="sr-only">New Password</label>
                        <div class="input-group">
                            <input class="form-control" formControlName="new_password" placeholder="New Password" id="new-pw" [type]="hideNewPassword ? 'password' : 'text' ">
                            <span class="input-group-text" for="new-pw" (click)="hideNewPassword = !hideNewPassword">
                                <i [ngClass]="hideNewPassword ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                            </span>
                        </div>
                        <span class="text-danger" *ngIf="resetPasswordForm.controls.new_password.hasError('required') && resetPasswordForm.controls.new_password.touched">
                            Please provide new password
                        </span>
                    </div>

                    <div class="form-group h-58 mb-0">
                        <label class="sr-only">Confirm Password</label>
                        <div class="input-group">
                            <input class="form-control" formControlName="confirm_new_password" placeholder="Confirm Password" id="confirm-pw" [type]="hideConfirmPassword ? 'password' : 'text' ">
                            <span class="input-group-text" for="confirm-pw" (click)="hideConfirmPassword = !hideConfirmPassword">
                                <i [ngClass]="hideConfirmPassword ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                            </span>
                        </div>
                        <span class="text-danger" *ngIf="resetPasswordForm.controls.confirm_new_password.hasError('required') && resetPasswordForm.controls.confirm_new_password.touched">
                            Please confirm password
                        </span>
                        <span class="text-danger" *ngIf="resetPasswordForm.controls.confirm_new_password.hasError('nomatch')">
                            Password do not match
                        </span>
                    </div>

                    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between start">
                        <button type="submit" class="btn btn-danger btn-block" [disabled]="!resetPasswordForm.valid">Reset Password</button>
                        <!-- <button type="button" class="btn btn-danger" (click)="skipNow()">Skip for now</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<ng-container *ngIf="fromProfile">
    <div style="position: relative;">
        <img class="dialog-loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px">

        <div class="modal-header">
            <h4 class="modal-title fs-18 fw-300">Reset Password</h4>
            <button type="button" class="close" tabindex="-1" (click)="onCloseModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" style="text-align: left;">
                <div class="form-group h-58 mb-0">
                    <label class="sr-only">Current Password</label>
                    <div class="input-group">
                        <input class="form-control" formControlName="old_password" placeholder="Current Password" id="old-pw" [type]="hidePassword ? 'password' : 'text' ">
                        <span class="input-group-text" for="old-pw" (click)="hidePassword = !hidePassword;">
                            <i [ngClass]="hidePassword ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                        </span>
                    </div>
                    <span class="text-danger" *ngIf="resetPasswordForm.controls.old_password.hasError('required') && resetPasswordForm.controls.old_password.touched">
                        Please provide current password
                    </span>
                </div>
    
                <div class="form-group h-58 mb-0">
                    <label class="sr-only">New Password</label>
                    <div class="input-group">
                        <input class="form-control" formControlName="new_password" placeholder="New Password" id="new-pw" [type]="hideNewPassword ? 'password' : 'text' ">
                        <span class="input-group-text" for="new-pw" (click)="hideNewPassword = !hideNewPassword">
                            <i [ngClass]="hideNewPassword ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                        </span>
                    </div>
                    <span class="text-danger" *ngIf="resetPasswordForm.controls.new_password.hasError('required') && resetPasswordForm.controls.new_password.touched">
                        Please provide new password
                    </span>
                </div>
    
                <div class="form-group h-58 mb-0">
                    <label class="sr-only">Confirm Password</label>
                    <div class="input-group">
                        <input class="form-control" formControlName="confirm_new_password" placeholder="Confirm Password" id="confirm-pw" [type]="hideConfirmPassword ? 'password' : 'text' ">
                        <span class="input-group-text" for="confirm-pw" (click)="hideConfirmPassword = !hideConfirmPassword">
                            <i [ngClass]="hideConfirmPassword ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                        </span>
                    </div>
                    <span class="text-danger" *ngIf="resetPasswordForm.controls.confirm_new_password.hasError('required') && resetPasswordForm.controls.confirm_new_password.touched">
                        Please confirm password
                    </span>
                    <span class="text-danger" *ngIf="resetPasswordForm.controls.confirm_new_password.hasError('nomatch')">
                        Password do not match
                    </span>
                </div>
    
            </form>
        </div>
    
        <div class="modal-footer">
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between start">
                <button type="button" class="btn btn-default" (click)="onCloseModal()">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </div>
        </div>
    </div>
</ng-container>
