::ng-deep .group-container .ng-select-container {
    box-shadow: none;
    border-radius: 0 !important;
}

.waiting {
    min-width: 300px;
}

.qb-loader {
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.btn-abort {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-container {
    display: flex;
    justify-content: center;
    // margin-right: 8px;
}

.status {
    margin-right: 4px;
    margin-top: 2px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #36ab7a;
}

.odd {
    background-color: #fcfdfd;
}

.table {
    margin-bottom: 0;
    thead {
        background-color: #ececec;

        >tr >th {
            height: 30px !important;
            padding: 0 0 0 4px !important;
            font-weight: 700 !important;
            font-size: 12px !important;
            line-height: 28px;
            position: relative;
            cursor: pointer;
        }
    }

    tbody {
        >tr >td {
            padding: 4px !important;
            border: 1px solid #e4eaec !important;
            vertical-align: middle;

            >a {
                text-decoration: none !important;
                width: 28px !important;
                height: 28px !important;
                line-height: 16px !important;
            }

            >a :hover {
                color: #000;
            }
        }
    }
}