<div class="modal-body w-100-p p-0" fxLayout="row wrap" style="position: relative;">
    <img *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px"
        style="position: absolute; top: 30%; left: 42%;">
    <div *ngIf="showGeneralDetails" class="w-100-p" fxLayout="row wrap">
        <form [formGroup]="generalForm" fxFlex="100" fxLayout="row wrap" fxLayoutGap="12px" class="mb-8">
            <div fxFlex="23.5" class="form-group">
                <label for="name">Company Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="company_name">
                <ng-container *ngIf="generalForm.controls.company_name.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.company_name.hasError('required')">
                        Please provide name of company
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.company_name.hasError('maxlength')">
                        Company name must be less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.company_name.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Group Name</label><span class="text-danger">*</span>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="group_name" required>
                <ng-container *ngIf="generalForm.controls.group_name.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.group_name.hasError('required')">
                        Please provide group name.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.group_name.hasError('maxlength')">
                        Group name must be less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.group_name.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Phone Number</label><span class="text-danger">*</span>
                <div class="input-group">
                    <span class="input-group-text" for="ph" style="border-right: none;">+974</span>
                    <!-- <input type="text" class="form-control" [readonly]="readonly" id="ph" formControlName="phone_number"
                        required maxlength="8"> -->
                    <input type="number" [readonly]="readonly"
                        oninput="this.value = !!this.value && this.value >= 0 ? this.value : null; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        class="form-control" min=0 formControlName="phone_number" maxlength="8" />
                </div>
                <ng-container *ngIf="generalForm.controls.phone_number.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.phone_number.hasError('required')">
                        Please provide phone no.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.phone_number.hasError('minlength')">
                        Phone no must be of 8 digits.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.phone_number.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Industry<span class="text-danger">*</span></label>
                <ng-select [readonly]="readonly" formControlName="industry" [clearable]="false"
                    placeholder="Select industry">
                    <ng-option *ngFor="let industry of industries" [value]="industry.name">
                        {{industry.name}}
                    </ng-option>
                </ng-select>
                <span class="text-danger"
                    *ngIf="generalForm.controls.industry.hasError('required') && generalForm.controls.industry.touched">
                    Please select industry.
                </span>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Website<span class="text-danger">*</span></label>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="website">
                <ng-container *ngIf="generalForm.controls.website.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.website.hasError('required')">
                        Please provide company's website.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.website.hasError('maxlength')">
                        Website must be less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.website.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Email</label><span class="text-danger">*</span>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="email" required>
                <ng-container *ngIf="generalForm.controls.email.invalid && generalForm.controls.email.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.email.hasError('required')">
                        Please provide email
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.email.getError('pattern')">
                        Please provide valid email
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">CR Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="cr_number">
                <ng-container *ngIf="generalForm.controls.cr_number.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.cr_number.hasError('required')">
                        Please provide CR Number.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.cr_number.hasError('maxlength')">
                        CR Number must be less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.cr_number.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <h4 fxFlex="100" class="fs-12 fw-600 text-uppercase bg-blue-100" style="padding: 4px;">Spoc / Contact
                Details</h4>

            <div fxFlex="23.5" class="form-group">
                <label for="name">First Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="first_name">
                <ng-container *ngIf="generalForm.controls.first_name.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.first_name.hasError('required')">
                        Please provide first name.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.first_name.hasError('maxlength')">
                        First name must be of less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.first_name.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Last Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="last_name">
                <ng-container *ngIf="generalForm.controls.last_name.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.last_name.hasError('required')">
                        Please provide last name.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.last_name.hasError('maxlength')">
                        Last name must be of less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.last_name.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Q-ID / Passport<span class="text-danger">*</span></label>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="qid_passport">
                <ng-container *ngIf="generalForm.controls.qid_passport.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.qid_passport.hasError('required')">
                        Please provide Q-Id or Passport.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.qid_passport.hasError('maxlength')">
                        Q-Id/Passport must be of less than 60 characters
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.qid_passport.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Email<span class="text-danger">*</span></label>
                <input type="text" class="form-control" [readonly]="readonly" formControlName="spoc_email">
                <ng-container *ngIf="generalForm.controls.spoc_email.invalid && generalForm.controls.spoc_email.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.spoc_email.hasError('required')">
                        Please provide email
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.spoc_email.getError('pattern')">
                        Please provide valid email
                    </span>
                </ng-container>
            </div>

            <div fxFlex="23.5" class="form-group">
                <label for="name">Phone Number<span class="text-danger">*</span></label>

                <div class="input-group">
                    <span class="input-group-text" style="border-right: none;">+974</span>
                    <!-- <input type="text" class="form-control" [readonly]="readonly" formControlName="spoc_phone_number"
                        maxlength="8"> -->
                    <input type="number" [readonly]="readonly"
                        oninput="this.value = !!this.value && this.value >= 0 ? this.value : null; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        class="form-control" min=0 formControlName="spoc_phone_number" maxlength="8" />
                </div>

                <ng-container *ngIf="generalForm.controls.spoc_phone_number.dirty">
                    <span class="text-danger" *ngIf="generalForm.controls.spoc_phone_number.hasError('required')">
                        Please provide phone no.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.spoc_phone_number.hasError('minlength')">
                        Phone no must be of 8 digits.
                    </span>
                    <span class="text-danger" *ngIf="generalForm.controls.spoc_phone_number.hasError('whitespace')">
                        Avoid white spaces
                    </span>
                </ng-container>

            </div>
        </form>

        <div *ngIf="!readonly" class="w-100-p modal-footer">
            <div fxFlex="100" class="form-group text-center mb-0">
                <button type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8"
                    [disabled]="!generalForm.valid || loading">
                    <i class="ri-check-fill"></i>
                    {{data?.id ? 'Update' : 'Save'}}
                </button>
                <button class="btn btn-default btn-round" (click)="generalForm.reset()">
                    <i class="ri-close-line"></i>
                    Clear
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="showUploadDocs" class="w-100-p" fxLayout="row wrap">
        <form [formGroup]="uploadDocsForm" fxFlex="100" fxLayout="row wrap" fxLayoutGap="12px" class="mb-8">

            <div fxFlex="100" fxLayoutGap="12px" class="h-82">
                <div fxFlex="23.5" class="form-group">
                    <label for="name">Document Name<span class="text-danger">*</span></label>
                    <!-- <span class="text-danger" *ngIf="uploadDocsForm.controls.document_file.value">*</span> -->
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="document_name"
                        [required]="uploadDocsForm.controls.document_file.value">
                    <ng-container *ngIf="uploadDocsForm.controls.document_name.dirty">
                        <span class="text-danger" *ngIf="uploadDocsForm.controls.document_name.hasError('required')">
                            Please provide document name.
                        </span>
                        <span class="text-danger" *ngIf="uploadDocsForm.controls.document_name.hasError('maxlength')">
                            Document name must be less than of 60 characters
                        </span>
                        <span class="text-danger" *ngIf="uploadDocsForm.controls.document_name.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div fxFlex="23.5" class="form-group">
                    <label for="name">Document Type<span class="text-danger">*</span></label>
                    <ng-select class="select w-100-p" [readonly]="readonly" formControlName="document_type"
                        [clearable]="false" placeholder="Select document type">
                        <ng-option value="passport">Passport</ng-option>
                        <ng-option value="qatar id">Qatar ID</ng-option>
                        <ng-option value="contract">Contract</ng-option>
                        <ng-option value="others">Others</ng-option>
                    </ng-select>
                    <span class="text-danger"
                        *ngIf="uploadDocsForm.controls.document_type.hasError('required') && uploadDocsForm.controls.document_type.touched">
                        Please provide document type.
                    </span>
                </div>

                <div fxFlex="23.5" class="form-group">
                    <label for="name">Description</label><span *ngIf="docType === 'others'" class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="description"
                        [required]="docType === 'others'">
                    <span class="text-danger"
                        *ngIf="uploadDocsForm.controls.description.hasError('required') && uploadDocsForm.controls.description.touched">
                        Please provide description.
                    </span>
                </div>

                <div fxFlex="23.5" class="form-group">
                    <label for="name">Upload File</label><span class="text-danger">* (Max 5MB/.jpg.png.pdf)</span>
                    <input id="fileInput" #file type="file" [disabled]="readonly"
                        class="form-control-file btn btn-default h-36 lh-16" (change)="onImageChanged($event)"
                        accept=".pdf, .jpg, .png">
                    <span class="text-danger" *ngIf="submitted">
                        Please upload document.
                    </span>
                    <span *ngIf="imageError" class="text-danger">{{imageError}}</span>
                </div>

                <!-- <div fxLayoutAlign="start center">
                    <button type="submit" [disabled]="!uploadDocsForm.valid || loading" class="btn btn-primary">
                        {{uploadDocsForm.controls.id.value ? 'Update' : 'Save'}}
                    </button>
                </div> -->
            </div>
        </form>

        <h4 fxFlex="100" class="fs-12 fw-600 text-uppercase bg-blue-100" style="padding: 4px;">Uploaded Document</h4>

        <div fxFlex="100">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sr #</th>
                        <th>Document Name</th>
                        <th>Document Type</th>
                        <th>Description</th>
                        <th *ngIf="!readonly">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="selectedDocs.length > 0">
                        <tr *ngFor="let item of selectedDocs; let even=even; let idx=index" [class.even]="even">
                            <td>{{idx + 1}}</td>
                            <td>{{item.document_name}}</td>
                            <td>{{item.document_type | titlecase}}</td>
                            <td>{{item.description}}</td>
                            <td *ngIf="!readonly" style="width: 12%;">
                                <a class="btn btn-icon btn-info mr-8" ngbTooltip="Edit Document" style="padding: 3px;" (click)="onEditDoc(item)">
                                    <i class="ri-pencil-line"></i>
                                </a>

                                <a class="btn btn-icon btn-danger mr-8" ngbTooltip="Delete Document" style="padding: 3px;"
                                    (click)="onRemoveDoc(item)">
                                    <i class="ri-subtract-line"></i>
                                </a>

                                <a class="btn btn-icon btn-info" ngbTooltip="View Document" style="padding: 3px;" (click)="onViewDoc(item)">
                                    <i class="ri-file-3-line"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="selectedDocs.length === 0">
                        <tr style="display: flex; background-color: transparent;">
                            No record found
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div *ngIf="!readonly" class="w-100-p modal-footer">
            <div fxFlex="100" class="form-group text-center mb-0">
                <button type="submit" class="btn btn-success btn-round mr-8" (click)="uploadDoc();"
                    [disabled]="!uploadDocsForm.valid || loading">
                    <i class="ri-check-fill"></i>
                    {{uploadDocsForm.controls.id.value ? 'Update' : 'Save'}}
                </button>
                <button class="btn btn-default btn-round" (click)="uploadDocsForm.reset(); file.value = ''">
                    <i class="ri-close-line"></i>
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>