<nav class="site-navbar navbar navbar-default h-66 p-0">
    <div class="w-100-p h-100-p white" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <div fxLayout="row" class="h-100-p" fxLayoutAlign="start center" fxLayoutGap="8px">
            <div *ngIf="toggleMenu" style="max-width: 220px;" fxLayout="row" fxHide.lt-md>
                <span fxLayout="row" class="navbar-brand-text mt-10 ml-0">
                    <img src="assets/images/logo-vodafone-white-icon1.png" class="navbar-brand-logo pr-8 h-42" alt="">
                    <img src="assets/images/logo-vodafone-white-text1.png" class="navbar-brand-logo pr-20 h-42" alt="">
                </span>
            </div>

            <div *ngIf="!toggleMenu" fxHide.lt-md class="w-72 pt-10">
                <img src="assets/images/logo-vodafone-white-icon1.png" class="navbar-brand-logo pr-16 h-42" alt="">
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" accesskey="b" (click)="onToggleMenu()" class="h-100-p w-50 mr-0 sign-in">
                <i class="ri-menu-line fs-24"></i>
            </div>

            <!-- <div>Global Search bar will be here</div> -->

        </div>

        <div class="h-100-p" fxLayout="row" fxLayoutAlign="end center">
            <div fxLayout="row" fxLayoutAlign="center center" class="sign-in h-100-p p-12">
                <span *ngIf="acUser">Signed in as <b>{{acUser?.name}}</b></span>
                <span *ngIf="!acUser">Signed in as <b>COB Admin</b></span>
            </div>

            <div ngbDropdown class="d-inline-block h-100-p pt-10 sign-in">
                <button class="btn" style="box-shadow: none;" id="dropdownBasic1" ngbDropdownToggle>
                    <span class="avatar avatar-online">

                        <img style="height:30px !important; width: 30px !important;"
                            [src]="acUser?.user_picture ? acUser.user_picture : './assets/images/default_user.png'" alt="...">

                        <i></i>
                    </span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="navigateToProfile()">Profile Setting</button>
                    <button ngbDropdownItem (click)="onLogout()">Logout</button>
                    <!-- <button ngbDropdownItem>Something else is here</button> -->
                </div>
            </div>
        </div>
    </div>
</nav>