<div fxLayout="row wrap" class="h-100-p"
    style="background-image: url(assets/images/vodafone-background.jpg); background-size: cover;">
    <h4 class="ml-12 h-28 white">
        <b class="fs-18 fw-600" style="font-family: 'Roboto', sans-serif;">Vodafone Iot Customer Management Portal</b>
    </h4>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="height: calc(100% - 36px); position: relative;">
        <img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px">

        <div class="w-280 h-388 pr-8 pl-8" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <img src="assets/images/vf-bz-logo.png" class="w-200 h-66" alt="Logo">

            <div class="w-100-p p-20 card text-center" style="height: calc(100% - 74px); position: relative;">
                <!-- <ngb-progressbar *ngIf="loading" class="h-4 w-100-p" [striped]="true" [animated]="true" [value]="100"
                    type="info" mode="indeterminate" style="position: absolute; top: -1px; left: 0;">
                </ngb-progressbar> -->
                <i class="fs-40 icofont-lock h-62"></i>
                <h4 class="fs-18 fw-600 mb-30 green-800">{{otpBox ? 'VERIFY OTP' : 'FORGOT PASSWORD'}}</h4>

                <ng-container *ngIf="!otpBox;">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onEmailSubmit()">
                        <div class="form-group">
                            <label class="w-100-p text-left fw-700">
                                Email
                                <span class="text-danger">*</span>
                            </label>
                            
                            <input type="email" class="form-control" formControlName="email">
    
                            <ng-container *ngIf="forgotPasswordForm.controls.email.touched">
                                <div class="text-danger text-left" *ngIf="forgotPasswordForm.controls.email.hasError('required')">
                                    Please provide email.
                                </div>
                                <div class="text-danger text-left" *ngIf="forgotPasswordForm.controls.email.hasError('pattern')">
                                    Please provide valid email.
                                </div>
                            </ng-container>
                        </div>
    
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">Send</button>
                        <button type="button" class="btn btn-success btn-block mb-12" (click)="backToLogin()">Back to Login</button>

                    </form>
                </ng-container>

                <ng-container *ngIf="otpBox">
                    <form [formGroup]="verifyOtpForm" (ngSubmit)="onVerifyOTP()">
                        <div class="form-group">

                            <label for="otp" class="sr-only">OTP</label>
                            <input type="text" class="form-control" formControlName="otp" minlength="6" required placeholder="OTP">
                
                            <ng-container *ngIf="verifyOtpForm.controls.otp.touched">
                                <div class="text-danger text-left" *ngIf="verifyOtpForm.controls.otp.hasError('required')">
                                    Please provide OTP.
                                </div>
                                <div class="text-danger text-left" *ngIf="verifyOtpForm.controls.otp.hasError('minlength')">
                                    OTP must be of 6 digits.
                                </div>
                            </ng-container>
                
                        </div>

                        <button type="submit" class="btn btn-danger btn-block" [disabled]="!verifyOtpForm.valid">Verify</button>
                        <button type="button" class="btn btn-success btn-block mb-12" (click)="backToLogin()">Back to Login</button>
                        <a (click)="onEmailSubmit()" class="text-danger">Didn't receive code?</a>
                    </form>
                </ng-container>
                
            </div>
        </div>
    </div>
</div>
