<div class="card w-100-p" style="border: none; height: 100%;">
    <h3 class="fs-14 fw-600 p-16 pt-10 pb-10 mb-0" style="border-bottom: 1px solid #ececec;">Customers
        <i class="ri-information-line info grey-400"
            ngbTooltip="Company, Group, Phone Number, Email, Package, Superadmin Email, Actions"
            triggers="mouseenter:mouseleave" container="body" placement="top"></i>
    </h3>

    <div class="p-16 w-100-p" fxLayout="row wrap" style="height: calc(100% - 40px);">
        <div fxLayoutGap="4px" fxLayout="row" class="h-56 mb-12 white text-center" style="width: 100% !important;">
            <div class="card round p-16 pt-0 pb-0" fxLayout="row" fxLayoutAlign="space-between center"
                style="background: #f60000; height: 100%; width: 228px;">
                <img src="./assets/images/icon-customer-link.png" alt="" height="40">

                <div fxFlex fxLayout="column">
                    <div>Customer</div>
                    <div class="fs-20 fw-600">{{cardsInfo.total_customers}}</div>
                </div>

                <div fxFlex fxLayout="column">
                    <div class="mb-10">Active: <span class="fw-600">{{cardsInfo.active_customers}}</span></div>
                    <div>Inactive: <span class="fw-600">{{cardsInfo.inactive_customers}}</span></div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between start" class="h-100-p scrl-div">
                <div *ngIf="cardsInfo.subscriptions.length > 5" class="bttn-left">
                    <button class="btn btn-icon btn-sm btn-danger btn-round white lh-18 h-28 w-28"
                        (click)="scrollLeft(widget)" style="padding: 4px;">
                        <i class="ri-arrow-left-s-line"></i>
                    </button>
                </div>

                <div #widget name="dv" class="h-100-p w-100-p pl-16 pr-16"
                    style="overflow: hidden; display: -webkit-box !important;">
                    <ng-container *ngFor="let card of cardsInfo.subscriptions; let idx=index; let last=last">
                        <div class="bg-black-700 card round h-100-p pl-8 pr-8 mr-8" style="min-width: 10%;"
                            [class.mr-0]="last" fxLayout="column" fxLayoutAlign="center center">
                            <div>{{card.name}}</div>
                            <div class="fs-20">{{card.count}}</div>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="cardsInfo.subscriptions.length > 5" class="bttn-right">
                    <button class="btn btn-icon btn-sm btn-danger btn-round white lh-18 h-28 w-28"
                        (click)="scrollRight(widget)" style="padding: 4px;">
                        <i class="ri-arrow-right-s-line"></i>
                    </button>
                </div>

                <!-- <div fxFlex class="bg-black-700 card round h-100-p" fxLayout="column" fxLayoutAlign="center center">
                    <div>AT-Subscriptions</div>
                    <div class="fs-20">10</div>
                </div>
                <div fxFlex class="bg-black-700 card round h-100-p" fxLayout="column" fxLayoutAlign="center center">
                    <div>SS-Subscriptions</div>
                    <div class="fs-20">0</div>
                </div>
                <div fxFlex class="bg-black-700 card round h-100-p" fxLayout="column" fxLayoutAlign="center center">
                    <div>SB-Subscriptions</div>
                    <div class="fs-20">0</div>
                </div> -->
            </div>
        </div>

        <div class="w-100-p" style="height: calc(100% - 68px);">
            <general-table [config]="config" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
        </div>
    </div>
</div>