<div fxLayout="row wrap" style="height: 100%;">
    <div class="w-100-p modal-header pt-8 pb-8">
        <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
        <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
    </div>

    <div class="modal-body w-100-p" fxLayout="row wrap" style="height: calc(100% - 44px);">
        <div class="w-100-p pt-8" fxLayout="row wrap">
            <!-- static data (remove this in future) -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Device Status</th>
                        <th>Allocation Date</th>
                        <th>Deallocation Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let device of deviceHistory">
                        <td>
                            <a class="text-overflow" (click)="goToCustomer()">{{device.customer}}</a>
                        </td>
                        <td>{{device.device_status}}</td>
                        <td>{{device.allocation_date * 1000 | date: 'dd-MM-yyyy'}}</td>
                        <td>{{device.deallocation_date * 1000 | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- dynamic data (use this in future) -->
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Device Status</th>
                        <th>Allocation Date</th>
                        <th>Deallocation Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let device of deviceHistory">
                        <td>
                            <a class="text-overflow" (click)="goToCustomer()">{{device.customer_name}}</a>
                        </td>
                        <td>{{device.status==1?'Active':'InActive'}}</td>
                        <td>{{device.allocation_date * 1000 | date: 'dd-MM-yyyy'}}</td>
                        <td>{{device.deallocation_date * 1000 | date: 'dd-MM-yyyy'}}</td>
                    </tr>
                </tbody>
            </table> -->
        </div>

        <div fxFlex="100" class="form-group text-center mb-0">
            <button class="btn btn-default btn-round" (click)="onCloseModal()">
                <i class="ri-close-line"></i>
                Close
            </button>
        </div>
    </div>

    <img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px"
        height="150px">
</div>