<div fxLayout="row wrap" class="w-100-p h-100-p">

    <div fxFlex="100" class="mb-12" fxLayoutGap="32px">
        <label class="mb-0">Packages</label>
        <ng-select class="w-30-p group-container" [clearable]="false" [readonly]="readonly" [formControl]="package" placeholder="Select a package">
            <ng-option *ngFor="let package of packages" [value]="package.id">{{package.display_name}}</ng-option>
        </ng-select>
        <!-- <span class="text-danger" *ngIf="deviceTypeForm.controls.package.hasError('required') && deviceTypeForm.controls.package.touched">
            Please select a package
        </span> -->
    </div>

    <div fxFlex="100" fxLayoutGap="32px" class="h-56 mb-12 white text-center">
        <div fxFlex fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between start" style="height: 100%;">
            <div fxFlex fxLayout="column" class="bg-red-900 card round h-100-p" (click)="scrollToBottom('inventory')">
                <div>Total Devices</div>
                <div class="fs-24 fw-200">{{devicesStatusesCount?.total_devices ? devicesStatusesCount?.total_devices : 0}}</div>
            </div>
            <div fxFlex class="bg-red-900 card round h-100-p" fxLayout="column" (click)="scrollToBottom('available-devices')">
                <div>Available Devices</div>
                <div class="fs-24 fw-200">{{devicesStatusesCount?.available_devices ? devicesStatusesCount?.available_devices : 0 }}</div>
            </div>
            <div fxFlex class="bg-red-900 card round h-100-p" fxLayout="column" (click)="scrollToBottom('allocated-devices')">
                <div>Allocated Devices</div>
                <div class="fs-24 fw-200">{{devicesStatusesCount?.allocated_devices ? devicesStatusesCount?.allocated_devices : 0}}</div>
            </div>
            <div fxFlex class="bg-red-900 card round h-100-p" fxLayout="column" (click)="scrollToBottom('sold-devices')">
                <div>Sold Devices</div>
                <div class="fs-24 fw-200">{{devicesStatusesCount?.sold_devices ? devicesStatusesCount?.sold_devices : 0}}</div>
            </div>
            <div fxFlex fxLayout="column" class="bg-red-900 card round h-100-p" (click)="scrollToBottom('deactive-devices')">
                <div>Deactivated Devices</div>
                <div class="fs-24 fw-200">{{devicesStatusesCount?.deactive_devices ? devicesStatusesCount?.deactive_devices : 0}}</div>
            </div>
            <div fxFlex class="bg-red-900 card round h-100-p" fxLayout="column" (click)="scrollToBottom('faulty-devices')">
                <div>Faulty Devices</div>
                <div class="fs-24 fw-200">{{devicesStatusesCount?.faulty_devices ? devicesStatusesCount?.faulty_devices : 0}}</div>
            </div>
        </div>
    </div>

    <div #scrollMe class="card w-100-p p-16 mb-8" style="border: none; height: calc(100% - 24px);">
        <ul ngbNav #nav="ngbNav" [activeId]="activeId" class="nav-pills nav-tabs">
            <li ngbNavItem="inventory" (click)="onSelectTab('inventory')">
                <a ngbNavLink class="fw-700">Inventory</a>
                <ng-template ngbNavContent>
                    <general-table style="height: 100%;" [config]="config" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
                </ng-template>
            </li>
            <li ngbNavItem="available-devices" (click)="onSelectTab('available-devices')">
                <a ngbNavLink class="fw-700">Available</a>
                <ng-template ngbNavContent>
                    <general-table style="height: 100%;" [config]="devicesConfig" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
                </ng-template>
            </li>
            <li ngbNavItem="allocated-devices" (click)="onSelectTab('allocated-devices')">
                <a ngbNavLink class="fw-700">Allocated</a>
                <ng-template ngbNavContent>
                    <general-table style="height: 100%;" [config]="allocatedDevicesConfig" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
                </ng-template>
            </li>
            <li ngbNavItem="sold-devices" (click)="onSelectTab('sold-devices')">
                <a ngbNavLink class="fw-700">Sold</a>
                <ng-template ngbNavContent>
                    <general-table style="height: 100%;" [config]="soldDevicesConfig" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
                </ng-template>
            </li>
            <li ngbNavItem="deactive-devices" (click)="onSelectTab('deactive-devices')">
                <a ngbNavLink class="fw-700">Deactivate</a>
                <ng-template ngbNavContent>
                    <general-table style="height: 100%;" [config]="deactivateddevicesConfig" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
                </ng-template>
            </li>
            <li ngbNavItem="faulty-devices" (click)="onSelectTab('faulty-devices')">
                <a ngbNavLink class="fw-700">Faulty</a>
                <ng-template ngbNavContent>
                    <general-table style="height: 100%;" [config]="faultyDevicesConfig" [actions]="actions" (signals)="onTableSignals($event)"></general-table>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="pt-12 custom-nav-body" style="height: calc(100% - 48px);"></div>
    </div>
</div>