<div class="w-100-p p-0" fxLayout="row wrap" style="position: relative;">
    <img *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="100px" height="100px" style="position: absolute; top: 30%; left: 38%; z-index: 1;">

    <div class="w-100-p modal-header pt-8 pb-8">
        <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
        <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
    </div>

    <div class="modal-body" fxFlex="100" fxLayout="row wrap">
        <div fxFlex="100">
            <div class="form-group">
                <label for="">Set Frequency</label><span class="text-danger">*</span>
                <input type="number" min="1" class="form-control" placeholder="Enter device frequency" required [formControl]="device_frequency">
                <span class="text-danger" *ngIf="device_frequency.hasError('required') && device_frequency.touched">
                    Please provide frequency of device.
                </span>
            </div>
        </div>

        <!-- <hr fxFlex="100"> -->

        <div class="text-center" fxFlex="100" fxLayoutGap="8px">
            <button class="btn btn-success btn-round" (click)="onSubmit()">
                <i class="ri-check-fill"></i>
                <span>Update</span>
            </button>
            <button class="btn btn-default btn-round" (click)="onCloseModal()">
                <i class="ri-close-fill"></i>
                <span>Cancel</span>
            </button>
        </div>
    </div>
</div>
