::ng-deep .group-container .ng-select-container {
    box-shadow: none;
    border-radius: 0 !important;
}

.loader {
    position: absolute;
    top: 28%;
    left: 38%;
    z-index: 1;
}

.usecase-add-btn {
    margin-top: 4px !important;
    align-self: center;
    height: 32px;
    line-height: 16px;
}

.table {
    thead {
        background-color: #ececec;

        >tr >th {
            height: 30px !important;
            padding: 0 30px 0 4px !important;
            font-weight: 700 !important;
            font-size: 12px !important;
            line-height: 28px;
            position: relative;
            cursor: pointer;
        }
    }

    tbody {
        >tr >td {
            padding: 4px !important;
            border: 1px solid #e4eaec !important;
            height: 32px !important;
            // align-items: center;
            // justify-content: center;
            vertical-align: middle;
            
            >a {
                text-decoration: none !important;
                width: 24px !important;
                height: 24px !important;
                line-height: 16px !important;
            }
        
            >a :hover {
                color: #000;
            }

            .grp-chips {
                background: #f3f7f9;
                border-radius: 20px;
                padding: 4px 8px;
                margin-right: 2px;
            }

            .grp-chips:hover {
                background: #e7ecee;
            }
        }
    }
}