<div class="card w-100-p p-20" style="border: none;">
    <h3 class="fs-14 fw-600 pt-10 pb-10 mb-0" style="border-bottom: 1px solid #ececec;">My Profile</h3>

    <div class="pt-16 w-100-p" fxLayout="row wrap" style="height: calc(100% - 40px);">
        <div class="w-100-p pr-16" fxLayout="row" fxLayoutAlign="space-between start">
            <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()" fxFlex fxLayout="row wrap"
                fxLayoutAlign="space-between start">
                <div fxFlex="48.5">
                    <div class="form-group margin-bottom-10">
                        <label>First Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [readonly]="!isSuperAdmin" formControlName="first_name"
                            placeholder="First Name">
                        <ng-container *ngIf="isSuperAdmin && userProfileForm.controls.first_name.dirty">
                            <div class="text-danger" *ngIf="userProfileForm.controls.first_name.hasError('required')">
                                Please provide first name
                            </div>
                            <div class="text-danger" *ngIf="userProfileForm.controls.first_name.hasError('maxlength')">
                                First name must be of less than 60 characters
                            </div>
                            <div class="text-danger" *ngIf="userProfileForm.controls.first_name.hasError('whitespace')">
                                Avoid white spaces
                            </div>
                        </ng-container>

                    </div>
                </div>

                <div fxFlex="48.5" class="mr-0">
                    <div class="form-group margin-bottom-10">
                        <label>Last Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" [readonly]="!isSuperAdmin" formControlName="last_name"
                            placeholder="Last Name">
                        <ng-container *ngIf="isSuperAdmin && userProfileForm.controls.last_name.dirty">
                            <div class="text-danger" *ngIf="userProfileForm.controls.last_name.hasError('required')">
                                Please provide first name
                            </div>
                            <div class="text-danger" *ngIf="userProfileForm.controls.last_name.hasError('maxlength')">
                                Last name must be of less than 60 characters
                            </div>
                            <div class="text-danger" *ngIf="userProfileForm.controls.last_name.hasError('whitespace')">
                                Avoid white spaces
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div fxFlex="48.5">
                    <div class="form-group margin-bottom-10">
                        <label>Email<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" [readonly]="!isSuperAdmin" formControlName="email"
                            placeholder="Email">
                        <ng-container *ngIf="isSuperAdmin && userProfileForm.controls.email.dirty">
                            <span class="text-danger" *ngIf="userProfileForm.controls.email.hasError('required')">
                                Please provide email
                            </span>
                            <span class="text-danger" *ngIf="userProfileForm.controls.email.hasError('pattern')">
                                Please provide valid email
                            </span>
                        </ng-container>
                    </div>
                </div>

                <div fxFlex="48.5" class="mr-0">
                    <div class="form-group margin-bottom-10">
                        <label>Phone Number<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text" for="ph" style="border-right: none;">974</span>
                            <input type="text" autocomplete="off" id="ph" [readonly]="!isSuperAdmin" maxlength="8"
                                class="form-control" formControlName="phone" placeholder="Phone Number">
                        </div>
                        <ng-container *ngIf="isSuperAdmin && userProfileForm.controls.phone.dirty">
                            <div class="text-danger" *ngIf="userProfileForm.controls.phone.hasError('required')">
                                Please provide phone number
                            </div>
                            <div class="text-danger" *ngIf="userProfileForm.controls.phone.hasError('minlength')">
                                Phone no must be of 8 digits
                            </div>
                            <div class="text-danger" *ngIf="userProfileForm.controls.phone.hasError('whitespace')">
                                Avoid white spaces
                            </div>
                            <div class="text-danger" *ngIf="userProfileForm.controls.phone.hasError('phoneonly')">
                                Phone must be numeric
                            </div>
                        </ng-container>

                    </div>
                </div>

                <div fxFlex="48.5" class="mr-0">
                    <div class="form-group margin-bottom-10">
                        <label>Designation</label>
                        <input type="text" class="form-control" formControlName="designation" [readonly]="!isSuperAdmin"
                            value="" placeholder="Designation">
                        <!-- <span class="text-danger" *ngIf="userForm.controls.designation.hasError('required') && userForm.controls.designation.touched">
                            Please provide designation</span> -->
                    </div>
                </div>

                <div fxFlex="48.5">
                    <div class="form-group margin-bottom-10">
                        <label>Department</label>
                        <input type="text" class="form-control" formControlName="department" [readonly]="!isSuperAdmin"
                            value="" placeholder="Department">
                        <!-- <span class="text-danger" *ngIf="userForm.controls.department.hasError('required') && userForm.controls.department.touched">
                            Please provide department
                        </span> -->
                    </div>
                </div>

            </form>

            <div fxFlex="25" fxLayoutAlign="center start" class="col-lg-12 p-0">
                <div fxLayout="column" class="form-group text-center">
                    <img [src]="selectedImage ? selectedImage : 'assets/images/default_user.png'" width="150px"
                        height="150px" class="img-bordered" style="border-radius: 2%; position: relative;">

                    <input type="file" id="fileInput" accept=".jpg, .png, .jpeg" (change)="onImageChanged($event)"
                        style="display: none;">

                    <button *ngIf="isSuperAdmin" type="button" class="btn btn-primary w-150" (click)="chooseImage()"
                        style="margin-top: 14px; margin-bottom: 10px;">Upload
                        Image
                    </button>

                    <div class="text-danger" *ngIf="!selectedImage">Profile picture must be uploaded</div>

                    <img *ngIf="imageLoading" src="/assets/images/new-loader.gif" alt="Loader" width="60px"
                        height="60px" style="position: absolute; top: 25%; left: 40%;">
                </div>
            </div>
        </div>

        <hr fxFlex="100">

        <div fxFlex="100" fxLayout="row wrap">
            <h4 class="w-100-p">Change Password</h4>
            <form [formGroup]="userProfileForm" fxFlex="75" fxLayoutAlign="space-between start" fxLayoutGap="24px"
                fxLayout="row">
                <div fxFlex>
                    <div class="form-group margin-bottom-10">
                        <label>Email<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" [readonly]="!isSuperAdmin" formControlName="email"
                            value="" placeholder="Email">
                    </div>
                </div>

                <div fxFlex>
                    <div class="form-group margin-bottom-10">
                        <label>Password<span class="text-danger">*</span></label>
                        <div class="input-group margin-bottom-10">
                            <input type="password" class="form-control" id="pw" [readonly]="!isSuperAdmin"
                                value="123456" placeholder="password">
                            <span class="input-group-text" for="pw" (click)="openResetModal()">
                                <i class="ri-rotate-lock-fill"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <hr fxFlex="100">

        <div fxFlex="100" class="form-group text-center mb-0">
            <button *ngIf="isSuperAdmin" type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8"
                [class.disabled]="!userProfileForm.valid">
                <i class="ri-check-fill"></i>
                Update
            </button>

            <button class="btn btn-default btn-round" (click)="onBack()">
                <i class="ri-arrow-go-back-line"></i>
                Back
            </button>
        </div>
    </div>
</div>