<div class="modal-header pt-8 pb-8">
    <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
    <button type="button" tabindex="-1" class="close" (click)="onCloseModel()">×</button>
</div>

<img *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" class="loading" width="150px" height="150px">

<div class="modal-body w-100-p" fxLayout="row wrap" style="position: relative;">

    <div class="w-100-p pl-16 pr-16" fxLayout="row" fxLayoutAlign="space-between start">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" fxFlex fxLayout="row wrap"
            fxLayoutAlign="space-between start">
            <div fxFlex="48.5">
                <div class="form-group margin-bottom-10">
                    <label>First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="first_name"
                        [readonly]="action === 'detail'" placeholder="First Name">
                    <ng-container *ngIf="userForm.controls.first_name.dirty">
                        <span class="text-danger" *ngIf="userForm.controls.first_name.hasError('required')">
                            Please provide first name
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls.first_name.hasError('maxlength')">
                            First name must be of less than 60 characters
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls.first_name.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>

                </div>
            </div>

            <div fxFlex="48.5" class="mr-0">
                <div class="form-group margin-bottom-10">
                    <label>Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="last_name" [readonly]="action === 'detail'"
                        placeholder="Last Name">
                    <ng-container *ngIf="userForm.controls.last_name.dirty">
                        <span class="text-danger" *ngIf="userForm.controls.last_name.hasError('required')">
                            Please provide last name
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls.last_name.hasError('maxlength')">
                            Last name must be of less than 60 characters
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls.last_name.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>
            </div>

            <div fxFlex="48.5">
                <div class="form-group margin-bottom-10">
                    <label>Department</label>
                    <input type="text" class="form-control" formControlName="department"
                        [readonly]="action === 'detail'" placeholder="Department">
                    <span class="text-danger"
                        *ngIf="userForm.controls.department.hasError('required') && userForm.controls.department.touched">
                        Please provide department
                    </span>
                </div>
            </div>

            <div fxFlex="48.5" class="mr-0">
                <div class="form-group margin-bottom-10">
                    <label>Designation</label>
                    <input type="text" class="form-control" formControlName="designation"
                        [readonly]="action === 'detail'" placeholder="Designation">
                    <span class="text-danger"
                        *ngIf="userForm.controls.designation.hasError('required') && userForm.controls.designation.touched">
                        Please provide designation</span>
                </div>
            </div>

            <div fxFlex="48.5">
                <div class="form-group margin-bottom-10">
                    <label>Email<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" [readonly]="data?.id || action === 'detail'"
                        formControlName="email" value="" placeholder="Email">
                    <ng-container *ngIf="userForm.controls.email.invalid && userForm.controls.email.dirty">
                        <span class="text-danger" *ngIf="userForm.controls.email.hasError('required')">
                            Please provide email
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls.email.getError('pattern')">
                            Please provide valid email
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls.email.getError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>
            </div>

            <div fxFlex="48.5" class="mr-0">
                <div class="form-group margin-bottom-10">
                    <label>Phone Number<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text" for="ph" style="border-right: none;">974</span>
                        <input type="text" [readonly]="action === 'detail'" autocomplete="off" id="ph" maxlength="8"
                            class="form-control" formControlName="phone" placeholder="Phone Number">
                    </div>
                    <ng-container *ngIf="userForm.controls.phone.dirty">
                        <span class="text-danger" *ngIf="userForm.controls.phone.hasError('required')">
                            Please provide phone number
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls.phone.hasError('minlength')">
                            Phone no must be of 8 digits
                        </span>
                        <div class="text-danger" *ngIf="userForm.controls.phone.hasError('phoneonly')">
                            Phone no must be numeric
                        </div>
                    </ng-container>

                </div>
            </div>

            <div fxFlex="100" *ngIf="!data" fxLayoutGap="8px" fxLayoutAlign="start center" class="h-40">
                <input type="checkbox" [readonly]="action === 'detail'" formControlName="is_change_password"
                    id="chng-pasword">
                <label for="chng-pasword" class="mb-0">Reset Password upon First Login</label>
            </div>

            <div *ngIf="data" fxFlex="100" class="form-group">
                <label>Status</label> <!-- <span class="text-danger">*</span> -->
                <ng-select *ngIf="action !== 'detail'" [readonly]="userLoggedIn" [clearable]="false" class="group-container" formControlName="status"
                    style="max-width: 48.5%;">
                    <ng-option value="Active">Active</ng-option>
                    <ng-option value="InActive">InActive</ng-option>
                </ng-select>
                <input *ngIf="action === 'detail'" readonly type="text" class="form-control" formControlName="status"
                    style="max-width: 48.5%">
            </div>

            <div fxFlex>
                <div class="form-group">
                    <label>Groups<span class="text-danger">*</span></label>
                    <!-- || userLoggedIn -->
                    <app-dual-list [source]="source" [destination]="destination" [disabled]="action === 'detail' "
                        (signal)="onListSignal($event)"></app-dual-list>
                    <span class="text-danger" *ngIf="destination?.length === 0">
                        Please provide group
                    </span>
                </div>
            </div>
        </form>

        <div fxFlex="20" fxLayoutAlign="center start">
            <div fxFlex="75" class="col-lg-12 p-0">
                <div fxLayout="column" class="form-group text-center" style="margin-top: 20%; position: relative;">
                    <img height="130px" [src]="selectedImage ? selectedImage : 'assets/images/default_user.png'"
                        class="img-bordered" style="border-radius: 2%; position: relative;">

                    <input type="file" id="fileInput" accept=".jpg, .png, .jpeg" (change)="onImageChanged($event)"
                        style="display: none;">

                    <button *ngIf="action !== 'detail'" type="button" class="btn btn-primary mt-10"
                        (click)="chooseImage()">
                        Upload Image
                    </button>

                    <div class="text-danger" *ngIf="!imageToSend">Profile picture must be uploaded</div>

                    <img *ngIf="imageLoading" src="assets/images/new-loader.gif" alt="loader" width="60px" height="60px"
                        style="position: absolute; top: 20%; left: 25%;">


                    <span *ngIf="notImage">
                        <div class="alert alert-warning">
                            Choose image only.
                        </div>
                    </span>

                    <!-- <span *ngIf="uploadImage" class="text-danger">Please upload image first</span> -->
                </div>
            </div>
        </div>
    </div>

    <hr fxFlex="100">

    <div fxFlex="100" class="form-group text-center mb-0">
        <button *ngIf="action !== 'detail'" type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8"
            [disabled]="!userForm.valid || loading || destination.length === 0 || !imageToSend">
            <i class="ri-check-fill"></i>
            {{data?.id ? 'Update' : 'Save'}}
        </button>
        <button class="btn btn-default btn-round" (click)="onCloseModel()">
            <i class="ri-close-line"></i>
            {{action === 'detail' ? 'Close' : 'Discard'}}
        </button>
    </div>
</div>