<div class="card panel round round w-100-p mb-0">
    <div class="panel-heading h-36">
        <div class="fs-14 fw-600 p-10">{{title}}</div>
    </div>

    <div class="panel-body h-280 p-16 text-center" style="border-top: 1px solid rgba(0, 0, 0, 0.075);">
        <div class="fs-26"><b>{{data.total_devices}}</b></div>
        <circle-progress [percent]="data.online" [startFromZero]="true" [maxPercent]="data.total_devices"></circle-progress>

        <div class="w-100-p" fxLayout="row wrap">
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
                <div>Online</div>
                <div>{{data.online}}</div>
            </div>
            <ngb-progressbar type="success" fxFlex="100" height="10px" [value]="data.online" [max]="data.total_devices"></ngb-progressbar>

            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
                <div>Offline</div>
                <div>{{data.offline}}</div>
            </div>
            <ngb-progressbar type="danger" fxFlex="100" height="10px" [value]="data.offline" [max]="data.total_devices"></ngb-progressbar>
        </div>
    </div>
</div>