<div class="modal-header pt-8 pb-8">
    <h4 class="modal-title fs-18 fw-300">{{action}}</h4>
    <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
</div>

<img *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" class="loading" width="150px" height="150px">

<div class="modal-body w-100-p" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div [formGroup]="userGroupForm" (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="space-between start">
        <div fxFlex class="form-group">
            <label>Group Name</label><span class="text-danger">*</span>
            <input type="text" class="form-control" formControlName="name" [readonly]="action === 'Group Details'" placeholder="Group Name">
            <ng-container *ngIf="userGroupForm.controls.name.dirty">
                <div class="text-danger" *ngIf="userGroupForm.controls.name.hasError('required')">
                    Group name required
                </div>
                <div class="text-danger" *ngIf="userGroupForm.controls.name.hasError('maxlength')">
                    Name must be of less than 60 characters
                </div>
                <div class="text-danger" *ngIf="userGroupForm.controls.name.hasError('whitespace')">
                    Avoid white spaces
                </div>
            </ng-container>
            
        </div>

        <div fxFlex class="form-group">
            <label>Group Description</label><span class="text-danger">*</span>
            <input type="text" class="form-control" formControlName="description" [readonly]="action === 'Group Details'" placeholder="Description">
            <ng-container *ngIf="userGroupForm.controls.description.dirty">
                <div class="text-danger" *ngIf="userGroupForm.controls.description.hasError('required')">
                    Group description required
                </div>
                <!-- <div class="text-danger" *ngIf="userGroupForm.controls.description.hasError('maxlength')">
                    Description must be of less than 60 characters
                </div> -->
                <div class="text-danger" *ngIf="userGroupForm.controls.description.hasError('whitespace')">
                    Avoid white spaces
                </div>
            </ng-container>
        </div>

        <div *ngIf="data" fxFlex class="form-group mr-0">
            <label>Status</label> <!-- <span class="text-danger">*</span> -->
            <ng-select *ngIf="action !== 'Group Details'" name="status" formControlName="status" class="group-container">
                <ng-option value="Active">Active</ng-option>
                <ng-option value="InActive">InActive</ng-option>
            </ng-select>
            <input type="text" *ngIf="action === 'Group Details'" formControlName="status" class="form-control" readonly>
            <span class="text-danger" *ngIf="userGroupForm.controls.status.hasError('required') && submitted">Status required</span>
        </div>

        <div *ngIf="action === 'Group Details'" fxFlex="100" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start start">
            <label class="w-100-p">Users</label> <!-- <span class="text-danger">*</span> -->
            <ng-container *ngFor="let user of users">
                <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
                    <span style="height: 8px; width: 8px; border-radius: 50%; background: #000;"></span>
                    <span>{{user.email}}</span>
                </div>
            </ng-container>
            
            <!-- <textarea name="uses" formControlName="users" rows="5" class="h-60 form-control" style="height: 60px !important;"></textarea> -->
        </div>
    </div>

    <div *ngIf="action !== 'Group Details'" fxFlex="100" fxLayout="row wrap">
        <h5 class="fs-14 fw-600 mt-10 mb-10">Choose Features for Group:</h5>

        <div fxFlex="100" fxLayout="row wrap" class="p-16" style="background: #f3f7f9;">
            <!-- <div class="w-100-p">
                <div fxFlex="45" fxLayoutAlign="start start" class="form-group">
                    <div class="w-100-p input-search" style="vertical-align: middle;">
                        <i class="input-search-icon ri-search-line"></i>
                        <input type="text" class="form-control" placeholder="Search">
                        <button class="input-search-close icon" ngbPopover="Some help information goes here"
                            triggers="mouseenter:mouseleave" placement="top">
                            <i class="ri-question-line fw-400 grey-400"></i>

                        </button>
                    </div>
                </div>
            </div> -->
            <div fxFlex="100" class="row ml-0">
                <div class="w-100-p">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr class="text-center h-30" style="background: rgba(0, 0, 0, .075)">
                                <th class="text-center">Features</th>
                                <th>
                                    <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <div fxFlex="46" class="text-center">Read</div>
                                        <div fxFlex="50" class="text-center">Read Write</div>
                                    </div>
                                </th>
                                <th>Reset</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let group of groups; let idx=index">
                                <ng-container *ngIf="!group.is_parent">
                                    <td class="text-center"> {{group.name}}</td>
                                    <td class="text-center" fxLayout="row" fxLayoutAlign="center center" style="padding: 0 4px !important;">
                                        <div fxFlex="50" style="padding-top: 4px; height: 100%; border-right: 1px solid #ddd;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="{{group.id}}" [(ngModel)]="group.permission" value="R">
                                                <label></label>
                                            </div>
                                        </div>
                                        <div fxFlex="50">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="{{group.id}}" [(ngModel)]="group.permission" value="RW">
                                                <label></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display: flex; justify-content: center; align-items: center;">
                                            <button class="btn p-0 h-24" (click)="onClear(idx, group)">
                                                <span class="material-icons">
                                                    restart_alt
                                                </span>
                                                <!-- <i class="ri-refresh-line"></i> -->
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>
                                
                            </tr>
                        </tbody>
                    </table>
                    <span class="text-danger" *ngIf="errorMessage">At least one feature must be selected</span>
                </div>
            </div>
        </div>
    </div>

    <hr fxFlex="100" class="mt-8 mb-8">

    <div fxFlex="100" class="form-group text-center mb-0">
        <!-- || groupFound -->
        <button *ngIf="action !== 'Group Details'" class="btn btn-success btn-round mr-8" (click)="onSubmit()" [disabled]="!userGroupForm.valid || loading">
            <i class="ri-check-fill"></i>
            {{data?.id ? 'Update' : 'Save'}}
        </button>
        <button class="btn btn-default btn-round" (click)="onCloseModal()">
            <!-- <i class="ri-arrow-go-back-line"></i> -->
            <i class="ri-close-line"></i>
            {{action === 'Group Details' ? 'Close' : 'Discard'}}
        </button>
    </div>
</div>

