::ng-deep .group-container .ng-select-container {
    box-shadow: none;
    border-radius: 0 !important;
}

::ng-deep .group-model .modal-dialog {
    max-width: 600px !important;
}

.loading {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 1;
}

.table {
    tr {
        th {
            height: 30px !important;
            padding: 4px !important;
            font-weight: 700;
            font-size: 12px;
            color: #526069;
            text-transform: uppercase;
        }
    }

    tbody {
        background: #fff;
        td {
            height: 32px !important;
            padding: 4px !important;
            vertical-align: middle;
            border-left: none;
            border-bottom: none;
        }
    }
}