<div fxLayout="row wrap" style="height: 100%;">
    <div class="w-100-p modal-header pt-8 pb-8">
        <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
        <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
    </div>
    
    <div class="modal-body w-100-p" fxLayout="row wrap" style="height: calc(100% - 44px);">
        <div class="w-100-p pt-8" fxLayout="row wrap">
            <form [formGroup]="deviceTypeForm" (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap">
                <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="16px">
        
                    <div class="w-32-p form-group">
                        <label for="">Device Type Name</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [readonly]="readonly" formControlName="device_type_name" placeholder="Enter device type">
                        <ng-container *ngIf="deviceTypeForm.controls.device_type_name.dirty">
                            <span class="text-danger" *ngIf="deviceTypeForm.controls.device_type_name.hasError('required')">
                                Please provide device type
                            </span>
                            <span class="text-danger" *ngIf="deviceTypeForm.controls.device_type_name.hasError('maxlength')">
                                Device type must be of less than 60 charatcers
                            </span>
                            <span class="text-danger" *ngIf="deviceTypeForm.controls.device_type_name.hasError('whitespace')">
                                Avoid white spaces
                            </span>
                        </ng-container>
                    </div>
                    
                    <div class="w-32-p form-group">
                        <label for="">Packages</label><span class="text-danger">*</span>
                        <ng-select class="w-100-p group-container" [clearable]="false" [readonly]="readonlyForPackages" formControlName="package" placeholder="Select a package">
                            <ng-option *ngFor="let package of packages" [value]="package.id">{{package.display_name}}</ng-option>
                        </ng-select>
                        <span class="text-danger" *ngIf="deviceTypeForm.controls.package.hasError('required') && deviceTypeForm.controls.package.touched">
                            Please select a package
                        </span>
                    </div>
                    
                    <div class="w-32-p form-group mr-0">
                        <label for="">Make</label>
                        <input type="text" class="form-control" [readonly]="readonly" formControlName="make" placeholder="Enter device make">
                        <span class="text-danger" *ngIf="deviceTypeForm.controls.make.hasError('whitespace') && deviceTypeForm.controls.make.dirty">
                            Avoid white spaces
                        </span>
                    </div>
                    
                    <div class="w-32-p form-group">
                        <label for="">Warranty (Years)</label>
                        <input type="number" class="form-control" [readonly]="readonly" formControlName="warranty" placeholder="Enter device warranty">
                    </div>
                    
                    <div class="w-32-p form-group">
                        <label for="">Category</label><span class="text-danger">*</span>
                        <ng-select class="w-100-p group-container" [clearable]="false" [readonly]="readonly" formControlName="category" placeholder="Select a category">
                            <ng-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</ng-option>
                        </ng-select>
                        <span class="text-danger" *ngIf="deviceTypeForm.controls.category.hasError('required') && deviceTypeForm.controls.category.touched">
                            Please select a category
                        </span>
                    </div>
                </div>
        
                <h4 fxFlex="100" class="fs-12 fw-600 bg-blue-100" style="padding: 4px;">DATA CONFIGURATION</h4>
        
                <div fxFlex="100" fxLayout="row" fxLayoutGap="16px">
                    <div class="w-32-p form-group">
                        <label for="">Default Data Transmission Frequency</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="number" min="1" class="form-control" [readonly]="readonly" id="tfr" formControlName="default_trans_frequency" placeholder="Enter data frequency">
                            <span class="input-group-text" for="tfr" style="border-left: none;">[Min]</span>
                        </div>
                        <span class="text-danger" *ngIf="deviceTypeForm.controls.default_trans_frequency.hasError('required') && deviceTypeForm.controls.default_trans_frequency.touched">
                            Please provide transmission frequency
                        </span>
                    </div>
        
                    <div class="w-32-p form-group">
                        <label for="">Default Offline Threshold</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="number" min="1" [readonly]="readonly" class="form-control" id="ot" formControlName="default_offline_threshold" placeholder="Enter data frequency">
                            <span class="input-group-text" for="ot" style="border-left: none;">[Min]</span>
                        </div>
                        <span class="text-danger" *ngIf="deviceTypeForm.controls.default_offline_threshold.hasError('required') && deviceTypeForm.controls.default_offline_threshold.touched">
                            Please provide default offline threshold
                        </span>
                    </div>
                </div>
            </form>
        
            <h4 fxFlex="100" class="fs-12 fw-600 bg-blue-100" style="padding: 4px;">CONNECTED SENSORS/FEATURES</h4>
        
            <div fxFlex="100" fxLayout="row wrap">
                <div fxFlex="25" fxLayout="row" fxLayoutGap="8px" *ngFor="let sensor of connectedSensors" class="form-check">
                    <input [disabled]="readonly" type="checkbox" id="{{sensor.id}}" [checked]="sensor.sensor_flag"
                        [(ngModel)]="sensor.sensor_flag" (change)="onSelectSensor()">
                    <label for="{{sensor.id}}" fxFlex>{{sensor.name}}</label>                    
                </div>
            </div>
            <div *ngIf="connectedSensors.length === 0">
                No sensors created yet. Create atleast one.
            </div>

            <h4 fxFlex="100" class="fs-12 fw-600 bg-blue-100" style="padding: 4px;">DIAGNOSTIC PARAMETERS</h4>
            <div *ngIf="parameters.length > 0" fxFlex="100" fxLayout="row wrap">
                <div fxFlex="25" fxLayout="row" fxLayoutGap="8px" *ngFor="let parameter of parameters" class="form-check">
                    <input [disabled]="readonly" type="checkbox" id="{{parameter.name}}" [checked]="parameter.is_selected"
                        [(ngModel)]="parameter.is_selected" (change)="onSelectParameter()">
                    <label for="{{parameter.name}}" fxFlex>{{parameter.name}}</label>                    
                </div>
            </div>
            <div *ngIf="parameters.length === 0" class="mb-8">
                No prameters created yet. Create atleast one parameter
            </div>

            <h4 fxFlex="100" class="fs-12 fw-600 bg-blue-100" style="padding: 4px;">ACTIONS</h4>
            <div *ngIf="actions.length > 0" fxFlex="100" fxLayout="row wrap">
                <div fxFlex="25" fxLayout="row" fxLayoutGap="8px" *ngFor="let action of actions" class="form-check">
                    <input [disabled]="readonly" type="checkbox" id="{{action.command}}" [checked]="action.is_selected"
                        [(ngModel)]="action.is_selected" (change)="onSelectaction()">
                    <label for="{{action.command}}" fxFlex>{{action.command}}</label>
                </div>
            </div>
            <div *ngIf="actions.length === 0" class="mb-8">
                No actions created yet. Create atleast one action
            </div>

            <h4 *ngIf="!readonly" fxFlex="100" class="fs-12 fw-600 bg-blue-100" style="padding: 4px;">UPLOAD DOCUMENT</h4>

            <ng-container *ngIf="!readonly">
                <div fxFlex="100" fxLayout="row">
                    <div fxFlex="32.5" class="form-group">
                        <label for="name">Upload Files</label><span class="text-danger">* (Max 5MB/.jpg .png .pdf)</span>
                        <input id="fileInput" type="file" class="form-control-file btn btn-default h-36 lh-16" required
                            (change)="onImageChanged($event)" accept=".pdf, .jpg, .png">
                        <span *ngIf="selectedImage == null" class="text-danger">Please upload document.</span>
                        <span *ngIf="imageError" class="text-danger">{{imageError}}</span>
                    </div>
                </div>

                <div *ngIf="fileUploaded" class="h-120 w-100 text-center" style="position: relative;">
                    <img width="100" height="100" *ngIf="docType === 'pdf' " src="assets/images/icon-pdf.png" alt="">
                    <img width="100" height="100" *ngIf="docType === 'image' " [src]="selectedImage" alt="">

                    <a class="btn-link" (click)="onRemoveFile()">
                        Remove
                    </a>

                    <img *ngIf="imageLoading" src="assets/images/new-loader.gif" alt="loader"
                        style="position: absolute !important; top: 0%; left: 0%; background: rgba(0,0,0,0.3);
                            width: 100%; height: auto;">
                </div>
            </ng-container>
        </div>

        <hr fxFlex="100" class="mt-0">

        <div fxFlex="100" class="form-group text-center mb-0">
            <button *ngIf="!readonly" type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8"
                [disabled]="loading || !deviceTypeForm.valid || selectedImage == null || sensors.length === 0">
                <i class="ri-check-fill"></i>
                {{data?.id ? 'Update' : 'Save'}}
            </button>
            <button class="btn btn-default btn-round" (click)="onCloseModal()">
                <i class="ri-close-line"></i>
                Discard
            </button>
        </div>
    </div>

    <img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px">
</div>


