:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: flex-start;
    align-items: flex-start;
}

::ng-deep .group-container .ng-select-container {
    box-shadow: none;
    border-radius: 0 !important;
}

.page-header {
    width: 100%;
    padding: 16px 32px;
}

.loader {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 1;
}