<div fxLayout="row wrap" style="height: 100%; width: 100%;">
    <div class="w-100-p modal-header pt-8 pb-8">
        <h4 class="modal-title fs-18 fw-300">{{title}}</h4>
        <button type="button" tabindex="-1" class="close" (click)="onCloseModal()">×</button>
    </div>

    <div class="modal-body w-100-p" fxLayout="row wrap" style="height: calc(100% - 44px);">

        <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="row wrap">
            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="16px">

                <div class="w-32-p form-group">
                    <label for="">Device ID</label><span class="text-danger">*</span>

                    <ng-template #popContent>
                        <div>Cellure GW: IMEI</div>
                        <div>WiFi GW: Mac Address</div>
                        <div>RFID Tag: EPC ID</div>
                        <div>BLE Beacon: Beacon ID</div>
                    </ng-template>
                    
                    <i class="ri-information-line info grey-400 align-middle fw-200" container="body"
                        [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="top"></i>
                    <input type="text" class="form-control" [readonly]="readonly || data?.id" formControlName="device_id"
                        placeholder="Enter device id">
                    <ng-container *ngIf="deviceForm.controls.device_id.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.device_id.hasError('required')">
                            Please provide device type
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.device_id.hasError('maxlength')">
                            Device ID must be of less than 15 digits
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.device_id.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Packages</label><span class="text-danger">*</span>
                    <ng-select class="w-100-p group-container" [clearable]="false" [readonly]="readonly" formControlName="package"
                        placeholder="Select a package" (change)="onSelectPackage($event)">
                        <ng-option *ngFor="let package of packages" [value]="package.id">{{package.display_name}}</ng-option>
                    </ng-select>
                    <span class="text-danger" *ngIf="deviceForm.controls.package.hasError('required') && deviceForm.controls.package.touched">
                        Please select a package
                    </span>
                </div>

                <div class="w-32-p form-group mr-0">
                    <label for="">Device Type</label><span class="text-danger">*</span>
                    <ng-select class="w-100-p group-container" [clearable]="false" [readonly]="readonly" formControlName="device_type"
                        placeholder="Select a package">
                        <ng-option *ngFor="let device of deviceTypes" [value]="device.id">{{device.device_type_name}}
                        </ng-option>
                    </ng-select>
                    <span class="text-danger"
                        *ngIf="deviceForm.controls.device_type.hasError('required') && deviceForm.controls.device_type.touched">
                        Please select a device type
                    </span>
                </div>

                <div class="w-32-p form-group">
                    <label for="">SKU Code</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="sku_code"
                        placeholder="Enter SKU Code" required>
                    <ng-container *ngIf="deviceForm.controls.sku_code.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.sku_code.hasError('required')">
                            Please provide SKU Code
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.sku_code.hasError('maxlength')">
                            SKU Code must be less than 18 characters
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.sku_code.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">SIM Serial Number</label>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="sim_serial_number"
                        placeholder="Enter SIM serial number">
                    <span class="text-danger"
                        *ngIf="deviceForm.controls.sim_serial_number.hasError('required') && deviceForm.controls.sim_serial_number.touched">
                        Please provide SIM Serial Number.
                    </span>
                </div>

                <div class="w-32-p form-group mr-0">
                    <label for="">SIM MSISDN</label>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="sim_msisdn"
                        placeholder="Enter SIM MSISDN">
                    <span class="text-danger"
                        *ngIf="deviceForm.controls.sim_msisdn.hasError('required') && deviceForm.controls.sim_msisdn.touched">
                        Please provide SIM MSISDN.
                    </span>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Number Of SIM</label><span class="text-danger">*</span>
                    <ng-select [readonly]="readonly" [clearable]="false" formControlName="number_of_sim" placeholder="Select number of sim">
                        <ng-option value="single sim">Single Sim</ng-option>
                        <ng-option value="dual sim">Dual Sim</ng-option>
                    </ng-select>
                    <span class="text-danger"
                        *ngIf="deviceForm.controls.number_of_sim.hasError('required') && deviceForm.controls.number_of_sim.touched">
                        Please provide Number Of SIM.
                    </span>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Type of SIM</label><span class="text-danger">*</span>
                    <ng-select [readonly]="readonly" [clearable]="false" formControlName="type_of_sim" placeholder="Select type of sim">
                        <ng-option value="Nano">Nano</ng-option>
                        <ng-option value="Micro">Micro</ng-option>
                    </ng-select>
                    <span class="text-danger"
                        *ngIf="deviceForm.controls.type_of_sim.hasError('required') && deviceForm.controls.type_of_sim.touched">
                        Please provide type of SIM.
                    </span>
                </div>

                <div class="w-32-p form-group mr-0">
                    <label for="">SKU Category</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="sku_category"
                        placeholder="Enter SKU category" readonly>
                    <ng-container *ngIf="deviceForm.controls.sku_category.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.sku_category.hasError('required')">
                            Please provide SKU Category.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.sku_category.hasError('maxlength')">
                            SKU category must be less than 20 characters
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.sku_category.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Item Description</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="item_description"
                        placeholder="Enter description" required>
                    <ng-container *ngIf="deviceForm.controls.item_description.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.item_description.hasError('required')">
                            Please provide description of item.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.item_description.hasError('maxlength')">
                            Description must be less than 50 characters
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.item_description.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Make</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="make"
                        placeholder="Enter device make" required>
                    <ng-container *ngIf="deviceForm.controls.make.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.make.hasError('required')">
                            Please provide make.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.make.hasError('maxlength')">
                            Make must be less than 18 characters
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.make.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group mr-0">
                    <label for="">Model</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="model"
                        placeholder="Enter device model" required>
                    <ng-container *ngIf="deviceForm.controls.model.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.model.hasError('required')">
                            Please provide model.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.model.hasError('maxlength')">
                            Model must be less than 18 characters
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.model.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Supplier</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="supplier"
                        placeholder="Enter supplier name" required>
                    <ng-container *ngIf="deviceForm.controls.supplier.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.supplier.hasError('required')">
                            Please provide supplier.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.supplier.hasError('maxlength')">
                            Supplier must be less than 18 characters
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.supplier.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">HS Code</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="hs_code"
                        placeholder="Enter HS Code" required>
                    <ng-container *ngIf="deviceForm.controls.hs_code.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.hs_code.hasError('required')">
                            Please provide HS Code.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.hs_code.hasError('maxlength')">
                            HS Code must be less than 22 characters
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.hs_code.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group mr-0">
                    <label for="">Product Code</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="product_code"
                        placeholder="Enter product code">
                    <ng-container *ngIf="deviceForm.controls.product_code.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.product_code.hasError('required')">
                            Please provide Product Code.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.product_code.hasError('maxlength')">
                            Product code must be less than 30 characters.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.product_code.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Current Cost Price</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="current_cost_price"
                        placeholder="Enter current cost price">
                    <ng-container *ngIf="deviceForm.controls.current_cost_price.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.current_cost_price.hasError('required')">
                            Please provide Current Cost Price.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.current_cost_price.hasError('maxlength')">
                            Price must be less than or equal to 18 digits.
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.current_cost_price.hasError('whitespace')">
                            Avoid white spaces
                        </span>
                        <span class="text-danger" *ngIf="deviceForm.controls.current_cost_price.hasError('integeronly')">
                            Price must be numeric
                        </span>
                    </ng-container>
                </div>

                <div class="w-32-p form-group">
                    <label for="">Date of Manufacture</label><span class="text-danger">*</span>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker formControlName="date_of_manufacture"
                            #d="ngbDatepicker" [maxDate]="maxDate" placement="top" (click)="d.toggle()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-icon" (click)="$event.stopPropagation(); d.toggle()" type="button" style="padding: 0 8px; border-radius: 0px; border-color: #ced4da;">
                                <i class="ri-calendar-2-line"></i>
                            </button>
                        </div>
                    </div>
                    <ng-container *ngIf="deviceForm.controls.date_of_manufacture.dirty">
                        <span class="text-danger" *ngIf="deviceForm.controls.date_of_manufacture.hasError('required')">
                            Please provide Date of Manufacture.
                        </span>
                        <!-- <span class="text-danger" *ngIf="deviceForm.controls.date_of_manufacture.hasError('dateonly')">
                            Please provide valid date (e.g 22-02-2022).
                        </span> -->
                    </ng-container>
                </div>

                <div *ngIf="data && data.id" class="w-32-p mr-0 form-group">
                    <label for="">Status</label><span class="text-danger">*</span>
                    <ng-select class="w-100-p group-container" [clearable]="false" [readonly]="readonly" formControlName="status"
                        placeholder="Select a Status">
                        <ng-option *ngFor="let status of deviceStatuses" [value]="status.id">{{status.name}}</ng-option>
                    </ng-select>
                    <!-- (change)="onSelectDeviceType($event)" -->
                    <span class="text-danger" *ngIf="deviceForm.controls.status.hasError('required') && deviceForm.controls.status.touched">
                        Please select a status
                    </span>
                </div>

                <div class="w-32-p form-group mr-0">
                    <label for="">Additional Information</label>
                    <input type="text" class="form-control" [readonly]="readonly" formControlName="additional_information"
                        placeholder="Enter additional info">
                    <span class="text-danger"
                        *ngIf="deviceForm.controls.additional_information.hasError('required') && deviceForm.controls.additional_information.touched">
                        Please provide additional information.
                    </span>
                    <span class="text-danger" *ngIf="deviceForm.controls.additional_information.hasError('maxlength')">
                        Information must be less than 50 characters
                    </span>
                </div>
            </div>

            <hr fxFlex="100" class="mt-0">

            <div fxFlex="100" class="form-group text-center mb-0">
                <button *ngIf="!readonly" type="submit" class="btn btn-success btn-round mr-8"
                    [disabled]="loading || !deviceForm.valid">
                    <i class="ri-check-fill"></i>
                    <span>{{data?.device_id ? 'Update' : 'Save'}}</span>
                </button>
                <button type="button" class="btn btn-default btn-round" (click)="onCloseModal()">
                    <i class="ri-close-line"></i>
                    Discard
                </button>
            </div>
        </form>
            
    </div>

    <img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px">
</div>