<div class="modal-body w-100-p p-0" fxLayout="row wrap" style="position: relative;">
    <div *ngIf="showPackages && !loading" class="w-100-p" fxLayout="row wrap">
        <div class="w-100-p" style="overflow: auto;">
            <table class="table" style="min-width: calc(100% - 1px); width: max-content;">
                <thead>
                    <tr>
                        <td style="min-width: 140px; position: sticky; left: 0; z-index: 1; background: #ececec;">Use
                            Case</td>
                        <td *ngFor="let pack of getSortedPackages(packages)">
                            {{pack.package_name}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="customerPackages.length > 0">
                        <tr *ngFor="let item of customerPackages; let even=even" [class.even]="even">
                            <td [style.background]="even ? '#fbfdfd' : '#fff'">{{item.usecase_name}}</td>
                            <td *ngFor="let package of getSortedPackages(packages)">
                                <ng-container *ngFor="let pack of getSortedPackages(item.packages); let idx=index">
                                    <div *ngIf="package.package_id === pack.package_id"
                                        class="checkbox-custom checkbox-inline1 checkbox-warning">
                                        <input type="radio" [id]="pack.package_id" [value]="pack.is_selected"
                                            [checked]="pack.is_selected" [disabled]="pack.disabled || readonly || pack.is_consumer_package"
                                            (change)="onSelectPackage(item.packages, idx, $event)">
                                        <label for="{{pack.package_id}}"></label>
                                    </div>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="!loading && customerPackages.length === 0">
                        <tr colspan="4" style="display: flex; border: none !important;">
                            No record found
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div *ngIf="!readonly" class="w-100-p modal-footer">
            <div fxFlex="100" class="form-group text-center mb-0">
                <button type="submit" (click)="onSubmit()" class="btn btn-success btn-round mr-8"
                    [disabled]="loading || selectedPackages.length === 0">
                    <i class="ri-check-fill"></i>
                    {{data?.id ? 'Update' : 'Save'}}
                </button>
                <button class="btn btn-default btn-round" (click)="getCustomerPackages()">
                    <i class="ri-refresh-line"></i>
                    Refresh
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="showAdminList" class="w-100-p" fxLayout="row wrap">

        <div class="w-100-p">
            <div *ngIf="!readonly" fxLayout="row" fxLayoutAlign="end start" class="mb-8">
                <button *ngIf="!loading && !usecasesPackagesLengthEqual" class="btn btn-success btn-round h-36 lh-16"
                    (click)="onAddAdmin()">
                    <i class="ri-add-line"></i>
                    <span>Add New Admin</span>
                </button>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Admin Name</td>
                        <td>Email</td>
                        <ng-container *ngFor="let usecase of usecases">
                            <td *ngIf="usecase.is_selected">
                                {{usecase.usecase_name}}
                            </td>
                        </ng-container>
                        <td *ngIf="!readonly" style="width: 10%;">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="customerUsecases.length > 0">
                        <tr *ngFor="let item of customerUsecases; let idx=index; let even=even" [class.even]="even">
                            <td>
                                <a class="text-overflow" (click)="onAddAdmin(item, 'detail')">
                                    {{item.admin_name}}
                                </a>
                            </td>
                            <td>{{item.email}}</td>
                            <td *ngFor="let usecase of item.usecases; let pacidx=index;">
                                <div class="checkbox-custom checkbox-inline1 checkbox-warning">
                                    <input type="checkbox" [value]="usecase.usecase_mapping_id"
                                        [disabled]="usecase.is_disabled" [checked]="usecase.is_selected"
                                        [(ngModel)]="usecase.is_selected" name="checkbox" (change)="onSelectUsecase()">
                                    <label></label>
                                </div>
                            </td>
                            <td *ngIf="!readonly">
                                <a class="btn btn-info btn-icon btn-primary mr-8" ngbTooltip="Edit"
                                    (click)="onAddAdmin(item, 'edit')" style="padding: 3px;">
                                    <i class="ri-pencil-line"></i>
                                </a>
                                <!-- <a class="btn btn-info btn-icon btn-primary mr-8" ngbTooltip="View" (click)="onAddAdmin(item, 'detail')" style="padding: 3px;">
                                    <i class="ri-eye-line"></i>
                                </a> -->
                                <a class="btn btn-info btn-icon btn-danger" *ngIf="usecases.length == 0"
                                    ngbTooltip="Delete" (click)="removeAdmin(idx)" style="padding: 3px;">
                                    <i class="ri-delete-bin-6-line"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="!loading && customerUsecases.length === 0">
                        <tr colspan="4" style="display: flex; border: none !important;">
                            No record found
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <h4 class="w-100-p fs-12 fw-600 text-uppercase bg-blue-100" style="padding: 4px;">Contact Persons</h4>

        <div fxFlex="30" class="form-group">
            <label for="contact">Vodafone Contact Person</label><span class="text-danger">*</span>
            <input class="form-control" autocomplete="off" type="email" [readonly]="readonly||disableContactPersonInput"
                [formControl]="vodafonr_contact_person" id="contact" placeholder="abc@vodafone.com">
            <ng-container *ngIf="vodafonr_contact_person.invalid">
                <span class="text-danger"
                    *ngIf="vodafonr_contact_person.hasError('required') && !disableContactPersonInput">
                    Please provide email
                </span>
                <span class="text-danger" *ngIf="vodafonr_contact_person.getError('pattern')">
                    Please provide valid email
                </span>
            </ng-container>
        </div>

        <div fxFlex="100" class="mb-0" *ngIf="adminContactPersons!=''">
            <p>{{adminContactPersons}}</p>
        </div>

        <div *ngIf="!readonly" class="w-100-p modal-footer">
            <div fxFlex="100" class="form-group text-center mb-0">
                <button type="submit" (click)="onUpdateAdminList()" class="btn btn-success btn-round mr-8"
                    [disabled]="loading || selectedUsecases.length === 0 || !vodafonr_contact_person.valid || submitted">
                    <i class="ri-check-fill"></i>
                    {{data?.id ? 'Update' : 'Save'}}
                </button>
                <button class="btn btn-default btn-round" (click)="resetAdminList()">
                    <i class="ri-close-line"></i>
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>